/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    font-size: 10px;
    line-height: 1;
}

::-moz-selection {
    background: #222;
    text-shadow: none;
}

::selection {
    background: #222;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea { resize: vertical; }

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    box-sizing:border-box;
}
*,
*:before,
*:after {
    box-sizing:inherit;
}

img { max-width:100%; }



/* ==========================================================================
   Decode preloader animation
   ========================================================================== */
#preloader {
    z-index:9999;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    background-color:#ffb300;
    -webkit-animation:preloader-color-change 3s alternate infinite;
    animation:preloader-color-change 3s alternate infinite;
}
#status {
    position:absolute;
    left:50%;
    top:50%;
    margin:-6rem 0 0 -6rem;
    width:12rem;
    height:12rem;
    background-image:url(../img/decode-loader.png);
    -webkit-animation-name:preloader-images;
    -webkit-animation-duration:.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:steps(10);
    -moz-animation-name:preloader-images;
    -moz-animation-duration:.7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:steps(10);
     -ms-animation-name:preloader-images;
    -ms-animation-duration:.7s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:steps(10);
    -o-animation-name:preloader-images;
    -o-animation-duration:.7s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:steps(10);
    animation-name:preloader-images;
    animation-duration:.7s;
    animation-iteration-count:infinite;
    animation-timing-function:steps(10);
}
#status::before {
    content:"";
    z-index:-1;
    position:absolute;
    top:50%;
    left:50%;
    margin:-10rem 0 0 -10rem;
    display:block;
    width:20rem;
    height:20rem;
    background-color:#fff;
    border-radius:100%;
}


@-webkit-keyframes preloader-images {
    from { background-position:0; }
    to { background-position:-1200px; }
}
@keyframes preloader-images {
    from { background-position:0; }
    to { background-position:-1200px; }
}


@-webkit-keyframes preloader-color-change {
    0% { background-color:rgba(219,120,0,.9); }
    25% { background-color:rgba(229,0,39,.95); }
    50% { background-color:rgba(219,0,79,.92); }
    75% { background-color:rgba(153,0,52,.97); }
}
@keyframes preloader-color-change {
    0% { background-color:rgba(219,120,0,.9); }
    25% { background-color:rgba(229,0,39,.95); }
    50% { background-color:rgba(219,0,79,.92); }
    75% { background-color:rgba(153,0,52,.97); }
}



/* ==========================================================================
   Emoji landing page
   ========================================================================== */
@font-face {
    font-family: 'FuturaBold';
    src: url('../fonts/futurabold-webfont.eot');
    src: url('../fonts/futurabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabold-webfont.woff2') format('woff2'),
         url('../fonts/futurabold-webfont.woff') format('woff'),
         url('../fonts/futurabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/futurabook-webfont.eot');
    src: url('../fonts/futurabook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabook-webfont.woff2') format('woff2'),
         url('../fonts/futurabook-webfont.woff') format('woff'),
         url('../fonts/futurabook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* ========== general ========== */
body {
    overflow-x:hidden;
    padding-top:5rem;
    font:2rem/1.2 'FuturaBook', Helvetica, Arial, sans-serif;
    color:#fff;
    background:#fff url(../img/body-bg.jpg) repeat 0 0 fixed;
    background-size:500px;
}

.inner,
.page-content {
    position:relative;
    max-width:100rem;
    height:100%;
    margin:0 auto;
    padding:0 2rem;
}

button {
    outline:none;
    cursor:pointer;
    font-family:'FuturaBook', Helvetica, Arial, sans-serif;
    text-align:center;
    line-height:1;
    border:none;
}
h1 {
    margin-bottom:2rem;
    font:2.4rem/1 'FuturaBold', Helvetica, Arial, sans-serif;
}
p {
    margin-bottom:1.2rem;
    font:1.6rem/1.2 'FuturaBook', Helvetica, Arial, sans-serif;
}
.bigger-txt { font-size:2rem; }
strong,
b { font-family:'FuturaBold', Helvetica, Arial, sans-serif; }


/* ==================== header ==================== */
.page-header {
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    width:100vw;
    height:5rem;
    background-color:#fff;
}

.logo {
    position:relative;
    top:1rem;
    float:left;
    display:inline-block;
    width:4.2rem;
    height:3rem;
}

.btn {
    display:inline-block;
    padding:.7rem 1rem;
    font-size:1.4rem;
    line-height:1;
    text-decoration:none;
    color:#fff;
    border-radius:4px;
    transition:.2s ease;
}
.btn:hover {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
}
.btn--decode,
.btn--decode-back {
    position:relative;
    top:1.1rem;
    float:right;
    background-color:#ed7102;
}
.btn--decode::before,
.btn--decode-back::before {
    content:"";
    position:absolute;
    top:50%;
    display:inline-block;
}
.btn--decode::before {
    margin-top:-1.2rem;
    left:-4.5rem;
    width:3.5rem;
    height:2.3rem;
    background:url(../img/ico-btn-pointer.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.btn--decode-back::before {
    margin-top:-1.4rem;
    left:-3.8rem;
    width:2.8rem;
    height:2.6rem;
    background:url(../img/ico-btn-back.png) no-repeat 50% 50%;
    background-size:100% 100%;
}

/* button pulse */
.btn--decode {
    -webkit-animation:pulse 1s ease infinite;
    animation:pulse 1s ease infinite;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
    50% {
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        transform:scale(1.05);
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
    50% {
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        transform:scale(1.05);
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
}


/* ==================== content ==================== */
.page-content {
    overflow:hidden;
    float:left;
    width:100%;
}
.page-content::before,
.page-content::after {
    content:"";
    display:table;
}
.page-content::after { clear:both; }

.bubble {
    clear:both;
    position:relative;
    text-align:center;
}
.bubble::before {
    content:"";
    z-index:-1;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    background-color:rgba(255,180,0,.85);
    border-radius:100%;
}
.bubble > img { margin-bottom:2rem; }


/* ----- first bubble ----- */
.bubble--first {
    margin-bottom:8rem;
    padding:2rem 0;
    text-align:right;
}
.bubble--first::before {
    bottom:-5rem;
    right:-110rem;
    left:auto;
    width:210rem;
    height:210rem;
}
.bubble--first::after {
    content:"";
    position:absolute;
    bottom:-6.5rem;
    right:70%;
    display:inline-block;
    width:9rem;
    height:9rem;
    background:url(../img/ico-smiley-big.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.bubble--first h1 { font-size:2.4rem; }
.bubble--first p { font-size:1.8rem; }

/* emoji */
.page-content--emoji .bubble--first { margin-bottom:2rem; }
.page-content--emoji .bubble--first::before {
    bottom:-2rem;
    right:-105rem;
}
.page-content--emoji .bubble--first::after { display:none; }
.emoji-set1-1 {
    max-width:55rem;
    width:100%;
}
.emoji-set1-2 {
    max-width:55rem;
    width:100%;
    padding-left:10%;
}


/* ----- second bubble ----- */
.bubble--second {
    display:table;
    width:18rem;
    height:18rem;
    margin-bottom:2rem;
    padding:0 2rem;
}
.bubble--second::before {
    width:100%;
    height:100%;
    background-color:rgba(237,113,2,.85);
}
.bubble--second p {
    display:table-cell;
    vertical-align:middle;
}

/* emoji */
.page-content--emoji .bubble--second {
    width:16rem;
    height:16rem;
    margin-bottom:0;
}
.emoji-set2-1 {
    width:100%;
    margin-top:2rem;
}
.emoji-set2-2 { width:10rem; }


/* ----- third bubble ----- */
.bubble--third {
    float:right;
    display:table;
    width:25rem;
    height:25rem;
    margin-bottom:3rem;
    padding:0 2rem;
}
.bubble--third::before {
    width:100%;
    height:100%;
}
.bubble--third::after {
    content:"";
    position:absolute;
    top:-6.5rem;
    right:2rem;
    display:inline-block;
    width:7rem;
    height:12rem;
    background:url(../img/ico-mobile-phone.png) no-repeat 50% 50%;
    background-size:100% 100%;
    -webkit-transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    transform:rotate(15deg);
}
.page-content--emoji .bubble--third::after { display:none; }
.bubble--third p {
    display:table-cell;
    vertical-align:middle;
}

/* emoji */
.page-content--emoji .bubble--third {
    width:24rem;
    height:24rem;
    margin-bottom:1rem;
}
.emoji-set3-1 {
    width:16rem;
    margin-top:2rem;
}
.emoji-set3-2 { width:100%; }
.emoji-set3-3 { width:13rem; }


/* ----- fourth bubble ----- */
.bubble--fourth {
    clear:right;
    display:table;
    width:24rem;
    height:24rem;
    margin-bottom:8rem;
    padding:0 2rem;
}
.bubble--fourth::before {
    width:100%;
    height:100%;
    background-color:rgba(227,5,19,.85);
}
.bubble--fourth::after {
    content:"";
    position:absolute;
    top:-3rem;
    left:2.5rem;
    display:inline-block;
    width:9rem;
    height:9.2rem;
    background:url(../img/ico-hand.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.page-content--emoji .bubble--fourth::after { display:none; }
.bubble--fourth p {
    display:table-cell;
    vertical-align:middle;
    padding-top:3rem;
}
.btn--more {
    padding:1rem 2rem;
    background-color:#ed7102;
}

/* emoji */
.page-content--emoji .bubble--fourth {
    width:24rem;
    height:24rem;
    margin-bottom:2rem;
}
.emoji-set4-1 { width:18rem; }
.emoji-set4-2 { width:18rem; }


/* ----- fifth bubble ----- */
.bubble--fifth {
    float:right;
    display:table;
    width:22rem;
    height:22rem;
    padding:0 2rem;
}
.bubble--fifth::before {
    width:100%;
    height:100%;
    background-color:rgba(237,113,2,.85);
}
.bubble--fifth::after {
    content:"";
    position:absolute;
    top:-6rem;
    left:50%;
    margin-left:-6.5rem;
    display:inline-block;
    width:13rem;
    height:13rem;
    border:8px solid #ed7102; 
    border-radius:27px;
    background:url(../img/ico-snapchat-qr.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.page-content--emoji .bubble--fifth::after { display:none; }
.bubble--fifth p {
    display:table-cell;
    vertical-align:middle;
    padding-top:2rem;
}
/* emoji */
.page-content--emoji .bubble--fifth {
    width:20rem;
    height:20rem;
}
.emoji-set5-1 {
    width:16rem;
    margin-top:-1rem;
}
.emoji-set5-2 { width:15rem; }


/* ========== footer ========== */
.page-footer {
    clear:both;
    overflow:hidden;
    position:relative;
    padding:4rem 0;
}
.page-footer::before {
    content:"";
    z-index:-1;
    position:absolute;
    top:3rem;
    left:50%;
    margin-left:-160rem;
    display:inline-block;
    width:260rem;
    height:260rem;
    background-color:rgba(228,0,75,.85);
    border-radius:100%;
}

.page-footer .inner::before {
    content:"";
    position:relative;
    top:-4rem;
    display:block;
    width:7.8rem;
    height:9rem;
    background:url(../img/ico-magic-ball.png) no-repeat 50% 50%;
    background-size:100% 100%;
}

.btn--more {
    margin-top:1rem;
    font-size:2rem;
    background-color:#ed7102;
}

/* emoji */
.page-footer img { margin-bottom:2rem; }
.emoji-set6-1 {
    width:28rem;
    margin-top:2rem;
}
.emoji-set6-2 { width:23rem; }
.emoji-set6-3 { width:30rem; }
.emoji-set6-4 { width:auto; }

/* share buttons */
.share {
    margin-top:6rem;
    text-align:center;
}
.share > span {
    display:block;
    margin-bottom:2rem;
    font:2rem/1.2 'FuturaBold', Helvetica, Arial, sans-serif;
}
.share__buttons { text-align:center; }
.share__buttons li {
    display:inline-block;
    width:3.6rem;
    height:3.6rem;
    margin:0 1rem;
}
.share__buttons a {
    opacity:1;
    display:block;
    width:100%;
    height:100%;
    transition:opacity .2s;
}
.share__buttons a:hover { opacity:.7; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* 380 px */
@media only screen and (min-width: 380px) {

    .bubble--first::after {
        bottom:-5rem;
        right:75%;
    }
    
    .page-footer::before {
        top:4rem;
        margin-left:-150rem;
    }
    
}

/* 420 px */
@media only screen and (min-width: 420px) {
    
    body { padding-top:7rem; }
    .page-header { height:7rem; }
    .logo {
        top:1.1;
        width:6.5rem;
        height:4.7rem;
    }
    .btn {
        padding:1.2rem 2rem;
        font-size:1.8rem;
    }
    .btn--decode,
    .btn--decode-back { top:1.4rem; }
    .btn--decode::before {
        width:5.2rem;
        height:3.4rem;
        left:-6.2rem;
        margin-top:-1.8rem;
    }
    .btn--decode-back::before {
        width:4.1rem;
        height:3.8rem;
        left:-5.2rem;
        margin-top:-2rem;
    }

    h1 { font-size:2.2rem; }
    p { font-size:1.8rem; }
    .bigger-txt { font-size:2rem; }
    .bubble--first h1 { font-size:2.8rem; }
    .bubble--first p { font-size:2rem; }
    
    .bubble--first { margin-bottom:5rem; }
    .bubble--first::before {
        bottom:-2rem;
        right:-95rem;
    }
    .bubble--second {
        width:20rem;
        height:20rem;
        margin-bottom:0;
    }
    .bubble--third {
        width:26rem;
        height:26rem;
        margin-bottom:1.5rem;
    }
    .bubble--fourth {
        width:26rem;
        height:26rem;
    }
    .bubble--fifth {
        width:24rem;
        height:24rem;
    }
    .bubble--fifth p { padding-top:1.5rem; }
    
    
    /* emoji */
    .page-content--emoji .bubble--first { margin-bottom:4rem; }
    .page-content--emoji .bubble--first::before { right:-95rem; }
    .page-content--emoji .bubble--second { margin-bottom:-4rem; }
    .page-content--emoji .bubble--third { margin-bottom:0; }
    .page-content--emoji .bubble--fourth { margin-bottom:-2rem; }
    
}

/* 480 px */
@media only screen and (min-width: 480px) {
    
    .bubble--second { margin-bottom:-4rem; }
    .bubble--third { margin-bottom:-1rem; }
    .bubble--fourth { margin-bottom:3rem; }
    
    /* emoji */
    .page-content--emoji .bubble--second {
        width:18rem;
        height:18rem;
        margin-bottom:-6rem;
    }
    .page-content--emoji .bubble--third {
        width:27rem;
        height:27rem;
        margin-bottom:-1rem;
    }
    .page-content--emoji .bubble--fourth {
        width:25rem;
        height:25rem;
        margin-bottom:-6rem;
    }
    .page-content--emoji .bubble--fifth {
        width:22rem;
        height:22rem;
    }
 
}

/* 520 px */
@media only screen and (min-width: 520px) {
 
    .bubble--first { padding-bottom:4rem; }
    .bubble--first::after {
        bottom:-3rem;
        right:80%;
    }
    .bubble--second { margin-bottom:-10rem; }
    .bubble--third { margin-bottom:-5rem; }
    .bubble--fourth { margin-bottom:-6rem; }

    /* emoji */
    .page-content--emoji .bubble--first { margin-bottom:2rem; }
    .page-content--emoji .bubble--second { margin-bottom:-12rem; }
    .page-content--emoji .bubble--third { margin-bottom:-4rem; }
    .page-content--emoji .bubble--fourth { margin-bottom:-10rem; }
    
    .emoji-set6-1 { width:32rem; }
    .emoji-set6-2 { width:28rem; }
    .emoji-set6-3 { width:36rem; }
    .emoji-set6-4 { width:24rem; }
    
}

/* 560 px */
@media only screen and (min-width: 560px) {
    
    .page-header { text-align:center; }
    .btn--decode,
    .btn--decode-back {
        float:none;
        margin-left:6rem;
    }
    
    .bubble--first { margin-bottom:4rem; }
    .bubble--first::before {
        bottom:0;
        right:-85rem;
    }
    
    .share { text-align:right; }
    .share > span {
        display:inline-block;
        margin-bottom:0;
    }
    .share__buttons {
        position:relative;
        top:.5rem;
        display:inline-block;
        padding-right:2rem;
        text-align:right;
    }
    
    /* emoji */
    .page-content--emoji .bubble--first::before { right:-90rem; }
    .emoji-set6-2 {
        max-width:30rem;
        width:40%;
    }
    .emoji-set6-3 {
        max-width:40rem;
        width:55%;
        margin-top:.4rem;
    }
    .emoji-set6-2 + br { display:none; }
    
}

/* 600 px */
@media only screen and (min-width: 600px) {
    
    .bubble--first { margin-bottom:8rem; }
    .bubble--first::before { bottom:-4rem; }
    .bubble--first::after { bottom:-6rem; }
    
    .bubble--second {
        width:22rem;
        height:22rem;
    }
    .bubble--third {
        width:30rem;
        height:30rem;
    }
    .bubble--fourth {
        width:30rem;
        height:30rem;
    }
    .bubble--fifth {
        width:26rem;
        height:26rem;
    }
    
    /* emoji */
    .page-content--emoji .bubble--second {
        width:20rem;
        height:20rem;
        margin-bottom:-14rem;
    }
    .page-content--emoji .bubble--third {
        width:29rem;
        height:29rem;
        margin-bottom:-8rem;
    }
    .page-content--emoji .bubble--fourth {
        width:27rem;
        height:27rem;
        margin-bottom:-12rem;
    }
    .page-content--emoji .bubble--fifth {
        width:24rem;
        height:24rem;
    }
    
}

/* 620 px */
@media only screen and (min-width: 620px) {
    
    .bubble--first::after {
        bottom:-7rem;
        width:11rem;
        height:11rem;
    }
    
    .bubble--third::after {
        top:-10rem;
        right:3rem;
        width:10.6rem;
        height:18rem;
    }
    .bubble--fourth::after {
        top:-6rem;
        left:4rem;
        width:14rem;
        height:14.4rem;
    }
    .bubble--fifth::after {
        top:-7rem;
        margin-left:-7rem;
        width:14rem;
        height:14rem;
        border-radius:28px;
    }

    .page-footer .inner::before {
        width:9.4rem;
        height:10.8rem;
    }
    
    /* emoji */
    .page-content--emoji .bubble--first { margin-bottom:0; }
    .page-content--emoji .bubble--first::before {
        bottom:0;
        right:-83rem;
    }
    
}

/* 720 px */
@media only screen and (min-width: 720px) {
 
    .inner,
    .page-content { padding:0 4rem; }
    
    .bubble--first { margin-bottom:8rem; }
    .bubble--first::before { right:-78rem; }
    .bubble--second {
        width:22rem;
        height:22rem;
        margin-bottom:-13rem;
    }
    .bubble--third {
        width:32rem;
        height:32rem;
        margin-bottom:-8rem;
    }
    .bubble--fourth {
        width:30rem;
        height:30rem;
        margin-bottom:-10rem;
    }
    .bubble--fifth {
        width:26rem;
        height:26rem;
    }
    
    /* emoji */
    .page-content--emoji .bubble--second {
        width:20rem;
        height:20rem;
        margin-bottom:-16rem;
    }
    .page-content--emoji .bubble--third {
        width:32rem;
        height:32rem;
        margin-bottom:-10rem;
    }
    .page-content--emoji .bubble--fourth {
        width:30rem;
        height:30rem;
        margin-bottom:-14rem;
    }
    
    .emoji-set3-1,
    .emoji-set4-1 { margin-top:5rem; }
    
}

/* 800 px */
@media only screen and (min-width: 800px) {
    
    .bubble--first {
        margin-bottom:6rem;
        padding-top:4rem;
    }
    .bubble--first::after {
        bottom:-3rem;
        right:auto;
        left:0;
    }
    .bubble--second {
        width:24rem;
        height:24rem;
        margin-bottom:-14rem;
    }
    .bubble--third {
        width:34rem;
        height:34rem;
        margin-bottom:-10rem;
    }
    .bubble--fourth {
        width:32rem;
        height:32rem;
    }
    .bubble--fifth {
        width:28rem;
        height:28rem;
    }
    
    /* emoji */
    .page-content--emoji .bubble--first {
        padding-top:2rem;
        text-align:center;
    }
    .page-content--emoji .bubble--first::before {
        right:auto;
        left:50%;
        margin-left:-105rem;
    }
    .emoji-set1-2 {
        max-width:45rem;
        padding-left:0;
    }
    
    .page-content--emoji .bubble--second {
        width:24rem;
        height:24rem;
        margin-bottom:-18rem;
    }
    .page-content--emoji .bubble--third {
        width:34rem;
        height:34rem;
        margin-bottom:-12rem;
    }
    .page-content--emoji .bubble--fourth {
        width:32rem;
        height:32rem;
        margin-bottom:-12rem;
    }
    .page-content--emoji .bubble--fourth {
        width:28rem;
        height:28rem;
    }
    
}

/* 860 px */
@media only screen and (min-width: 860px) {
    
    body { background-size:810px; }
    
    h1 {
        font-size:2.4rem;
        line-height:1.2;
    }
    p { font-size:2rem; }
    .bigger-txt { font-size:2.4rem; }
    .bubble--first h1 { font-size:3.2rem; }
    .bubble--first p { font-size:2.2rem; }
    .btn--more { font-size:2.2rem; }

    .bubble--first { margin-bottom:4rem; }
    .bubble--first::after {
        width:12rem;
        height:12rem;
    }
    .bubble--second {
        width:24rem;
        height:24rem;
        margin-bottom:-16rem;
    }
    .bubble--third {
        width:38rem;
        height:38rem;
        margin-bottom:-12rem;
    }
    .bubble--fourth {
        width:36rem;
        height:36rem;
    }
    .bubble--third::after {
        top:-6.5rem;
        right:5rem;
        width:10.5rem;
        height:18rem;
    }
    .bubble--fourth::after {
        top:-5rem;
        left:7rem;
        width:14.6rem;
        height:15rem;
    }
    .bubble--fifth::after {
        margin-left:-8rem;
        width:16rem;
        height:16rem;
        border-radius:32px;
    }
    .bubble--fifth p { padding-top:3rem; }
    
    .page-footer .inner::before {
        width:10.5rem;
        height:12rem;
    }
    
    /* emoji */
    .page-content--emoji .bubble--first { margin-bottom:-2rem; }
    .page-content--emoji .bubble--second {
        width:24rem;
        height:24rem;
    }
    .page-content--emoji .bubble--third {
        width:38rem;
        height:38rem;
        margin-bottom:-16rem;
    }
    .page-content--emoji .bubble--fourth {
        width:36rem;
        height:36rem;
        margin-bottom:-16rem;
    }
    
    .emoji-set3-1 {
        width:22rem;
        margin-top:6rem;
    }
    .emoji-set4-1 {
        width:24rem;
        margin-top:6rem;
    }
    .emoji-set5-1 { width:18rem; }
    
}

/* 920 px */
@media only screen and (min-width: 920px) {
    
    .other-bubbles {
        margin:0 auto;
        max-width:82rem;
    }
    
    .bubble--first {
        margin-bottom:2rem;
        padding-left:15rem;
    }
    .bubble--first::before {
        right:-120rem;
        bottom:-2rem;
        width:300rem;
        height:300rem;
    }
    .bubble--first::after { bottom:0; }
    .bubble--second {
        width:26rem;
        height:26rem;
        margin-bottom:-22rem;
    }
    .bubble--third {
        width:42rem;
        height:42rem;
        margin-bottom:-14rem;
    }
    .bubble--fourth {
        width:40rem;
        height:40rem;
        margin-bottom:-15rem;
    }
    .bubble--fifth {
        width:30rem;
        height:30rem;
        margin-right:6rem;
    }
    
    .bubble--third::after {
        top:-4rem;
        right:auto;
        left:8rem;
        -webkit-transform:rotate(-20deg);
        -ms-transform:rotate(-20deg);
        transform:rotate(-20deg);   
    }
    .bubble--fourth::after {
        top:-2rem;
        left:5rem;
    }
    
    .page-footer .inner p { padding-right:14rem; }
    
    /* emoji */
    .page-content--emoji .bubble--first {
        margin-bottom:1rem;
        padding-left:0;
    }
    .page-content--emoji .bubble--first::before {
        right:auto;
        left:50%;
        margin-left:-150rem;
    }
    .page-content--emoji .bubble--second { margin-bottom:-20rem; }
    .page-content--emoji .bubble--third { margin-bottom:-12rem; }

    
}


/* 1000 px */
@media only screen and (min-width: 1000px) {
    
    .page-content {
        overflow:visible;
        float:none;
        width:auto;
    }
    
    .btn--more { padding:1.5rem 3rem; }
    
    .bubble--first { margin-bottom:0; }
    .bubble--first::after {
        bottom:2rem;
        width:14rem;
        height:14rem;
    }
    .bubble--second { margin-bottom:-20rem; }
    .bubble--third { margin-bottom:-16rem; }
    
    .page-footer .inner p { padding-right:24rem; }
    
}


/* 1100 px */
@media only screen and (min-width: 1100px) {
    
    .bubble--first { padding-left:20rem; }
    .bubble--first::before { right:-115rem; }
    .bubble--first::after { bottom:0; }

    /* emoji */
    .page-content--emoji .bubble--second { margin-left:12rem; }
    .page-content--emoji .bubble--fifth { margin-right:8rem; }
    
}


/* 1200 px */
@media only screen and (min-width: 1200px) {

    .bubble--first::after { left:8rem; }
    
}