/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    font-size: 10px;
    line-height: 1;
}

::-moz-selection {
    background: #222;
    text-shadow: none;
}

::selection {
    background: #222;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea { resize: vertical; }

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    box-sizing:border-box;
}
*,
*:before,
*:after {
    box-sizing:inherit;
}

img { max-width:100%; }



/* ==========================================================================
   Decode preloader animation
   ========================================================================== */
#preloader {
    z-index:9999;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    background-color:#ffb300;
    -webkit-animation:preloader-color-change 5s alternate infinite;
    animation:preloader-color-change 5s alternate infinite;
}
#status {
    position:absolute;
    left:50%;
    top:50%;
    margin:-6rem 0 0 -6rem;
    width:12rem;
    height:12rem;
    background-image:url(../img/decode-loader.png);
    -webkit-animation:preloader-images .7s steps(10) infinite;
    animation:preloader-images .7s steps(10) infinite;
}
#status::before {
    content:"";
    z-index:-1;
    position:absolute;
    top:50%;
    left:50%;
    margin:-10rem 0 0 -10rem;
    display:block;
    width:20rem;
    height:20rem;
    background-color:#fff;
    border-radius:100%;
}


@-webkit-keyframes preloader-images {
    from { background-position:0; }
    to { background-position:-1200px; }
}
@keyframes preloader-images {
    from { background-position:0; }
    to { background-position:-1200px; }
}


@-webkit-keyframes preloader-color-change {
    0% { background-color:rgba(219,120,0,.9); }
    25% { background-color:rgba(229,0,39,.95); }
    50% { background-color:rgba(219,0,79,.92); }
    75% { background-color:rgba(153,0,52,.97); }
}
@keyframes preloader-color-change {
    0% { background-color:rgba(219,120,0,.9); }
    25% { background-color:rgba(229,0,39,.95); }
    50% { background-color:rgba(219,0,79,.92); }
    75% { background-color:rgba(153,0,52,.97); }
}



/* ==========================================================================
   Emoji landing page
   ========================================================================== */
@font-face {
    font-family: 'FuturaBold';
    src: url('../fonts/futurabold-webfont.eot');
    src: url('../fonts/futurabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabold-webfont.woff2') format('woff2'),
         url('../fonts/futurabold-webfont.woff') format('woff'),
         url('../fonts/futurabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/futurabook-webfont.eot');
    src: url('../fonts/futurabook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabook-webfont.woff2') format('woff2'),
         url('../fonts/futurabook-webfont.woff') format('woff'),
         url('../fonts/futurabook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* ========== general ========== */
body {
    overflow-x:hidden;
    padding-top:6rem;
    font:2rem/1.2 'FuturaBook', Helvetica, Arial, sans-serif;
    color:#fff;
    background:#fff url(../img/body-bg.jpg) repeat 0 0;
    background-size:500px;
}

.inner,
.page-content {
    position:relative;
    max-width:120rem;
    height:100%;
    margin:0 auto;
    padding:0 2rem;
}

button {
    outline:none;
    cursor:pointer;
    font-family:'FuturaBook', Helvetica, Arial, sans-serif;
    text-align:center;
    line-height:1;
    border:none;
}
h1 {
    margin-bottom:2.4rem;
    font:2.4rem/1 'FuturaBold', Helvetica, Arial, sans-serif;
}
p {
    margin-bottom:1.2rem;
    font:2rem/1.2 'FuturaBook', Helvetica, Arial, sans-serif;
}
.bigger-txt { font-size:2.4rem; }
strong,
b { font-family:'FuturaBold', Helvetica, Arial, sans-serif; }


/* ==================== header ==================== */
.page-header {
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    width:100vw;
    height:6rem;
    background-color:#fff;
}

.logo {
    position:relative;
    top:1.2rem;
    float:left;
    display:inline-block;
    width:5rem;
    height:3.5rem;
}

.btn {
    display:inline-block;
    padding:1rem 1.2rem;
    font-size:1.6rem;
    line-height:1;
    text-decoration:none;
    color:#fff;
    border-radius:4px;
    transition:.2s ease;
}
.btn:hover {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
}
.btn--decode,
.btn--decode-back {
    position:relative;
    top:1.2rem;
    float:right;
    background-color:#ed7102;
}
.btn--decode::before,
.btn--decode-back::before {
    content:"";
    position:absolute;
    top:50%;
    display:inline-block;
}
.btn--decode::before {
    margin-top:-1.4rem;
    left:-5.3rem;
    width:4.3rem;
    height:2.8rem;
    background:url(../img/ico-btn-pointer.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.btn--decode-back::before {
    margin-top:-1.6rem;
    left:-4.3rem;
    width:3.4rem;
    height:3.2rem;
    background:url(../img/ico-btn-back.png) no-repeat 50% 50%;
    background-size:100% 100%;
}

/* button pulse */
.btn--decode {
    -webkit-animation:pulse 1s ease infinite;
    animation:pulse 1s ease infinite;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
    50% {
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        transform:scale(1.05);
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
    50% {
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        transform:scale(1.05);
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
}


/* ==================== content ==================== */
.page-content {
    overflow:hidden;
    float:left;
    width:100%;
}
.page-content::before,
.page-content::after {
    content:"";
    display:table;
}
.page-content::after { clear:both; }

.bubble {
    clear:both;
    position:relative;
    text-align:center;
}
.bubble::before {
    content:"";
    z-index:-1;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    background-color:rgba(255,180,0,.85);
    border-radius:100%;
}
.bubble > img { margin-bottom:2rem; }


/* ---------- first bubble ---------- */
.bubble--first {
    margin-bottom:10rem;
    padding:4rem 0 2rem 0;
    text-align:right;
}
.bubble--first::before {
    bottom:-12rem;
    right:-130rem;
    left:auto;
    width:210rem;
    height:210rem;
}
.bubble--first::after {
    content:"";
    position:absolute;
    bottom:-9rem;
    right:60%;
    display:inline-block;
    width:10rem;
    height:10rem;
    background:url(../img/ico-smiley-big.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.page-content--emoji .bubble--first::after { display:none; }
.bubble--first h1 { font-size:2.8rem; }
.bubble--first p { font-size:1.8rem; }

/* emoji */
.emoji-set1-1 { width:32rem; }
.emoji-set1-2 { width:18rem; }
.emoji-set1-3 { width:12rem; }
.emoji-set1-4 { width:22rem; }


/* second bubble */
.bubble--second {
    display:table;
    width:22rem;
    height:22rem;
    margin-bottom:6rem;
    padding:0 2rem;
}
.bubble--second::before {
    width:100%;
    height:100%;
}
.bubble--second p {
    display:table-cell;
    vertical-align:middle;
}

/* emoji */
.emoji-set2-1 {
    width:100%;
    margin-top:1.5rem;
}
.emoji-set2-2 { width:14rem; }


/* third bubble */
.bubble--third {
    float:right;
    display:table;
    width:27rem;
    height:27rem;
    margin-bottom:6rem;
    padding:0 2rem;
}
.bubble--third::before {
    width:100%;
    height:100%;
}
.bubble--third::after {
    content:"";
    position:absolute;
    top:-9rem;
    right:2rem;
    display:inline-block;
    width:8.8rem;
    height:15rem;
    background:url(../img/ico-mobile-phone.png) no-repeat 50% 50%;
    background-size:100% 100%;
    -webkit-transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    transform:rotate(15deg);
}
.page-content--emoji .bubble--third::after { display:none; }
.bubble--third p {
    display:table-cell;
    vertical-align:middle;
}

/* emoji */
.emoji-set3-1 {
    width:100%;
    max-width:34rem;
}
.emoji-set3-2 { width:24rem; }
.emoji-set3-3 { width:16rem; }


/* fourth bubble */
.bubble--fourth {
    clear:right;
    display:table;
    width:26rem;
    height:26rem;
    margin-bottom:10rem;
    padding:0 2rem;
}
.bubble--fourth::before {
    width:100%;
    height:100%;
    background-color:rgba(227,5,19,.85);
}
.bubble--fourth::after {
    content:"";
    position:absolute;
    top:-6rem;
    left:1rem;
    display:inline-block;
    width:11.7rem;
    height:12rem;
    background:url(../img/ico-hand.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.page-content--emoji .bubble--fourth::after { display:none; }
.bubble--fourth p {
    display:table-cell;
    vertical-align:middle;
    padding-top:3rem;
}
.bubble--fourth .btn--more {
    padding:1rem 2rem;
    background-color:#ed7102;
}

/* emoji */
.page-content--emoji .bubble--fourth { margin-bottom:8rem; }
    
.emoji-set4-1 {
    width:100%;
    max-width:54.5rem;
}
.emoji-set4-2 {
    width:100%;
    max-width:45.2rem;
}


/* fifth bubble */
.bubble--fifth {
    float:right;
    display:table;
    width:27rem;
    height:27rem;
    padding:0 2rem;
}
.bubble--fifth::before {
    width:100%;
    height:100%;
    background-color:rgba(237,113,2,.85);
}
.bubble--fifth::after {
    content:"";
    position:absolute;
    top:-6rem;
    left:50%;
    margin-left:-7rem;
    display:inline-block;
    width:14rem;
    height:14rem;
    border:10px solid #ed7102; 
    border-radius:30px;
    background:url(../img/ico-snapchat-qr.png) no-repeat 50% 50%;
    background-size:100% 100%;
}
.page-content--emoji .bubble--fifth::after { display:none; }
.bubble--fifth p {
    display:table-cell;
    vertical-align:middle;
    padding-top:4rem;
}
/* emoji */
.emoji-set5-1 {
    width:100%;
    max-width:35.8rem;
    margin-top:-4rem;
}
.emoji-set5-2 { width:20rem; }


/* ========== footer ========== */
.page-footer {
    clear:both;
    overflow:hidden;
    position:relative;
    padding:4rem 0;
}
.page-footer::before {
    content:"";
    z-index:-1;
    position:absolute;
    top:3rem;
    left:50%;
    margin-left:-160rem;
    display:inline-block;
    width:260rem;
    height:260rem;
    background-color:rgba(228,0,75,.85);
    border-radius:100%;
}

.page-footer .inner::before {
    content:"";
    position:relative;
    top:-4rem;
    display:block;
    width:7.8rem;
    height:9rem;
    background:url(../img/ico-magic-ball.png) no-repeat 50% 50%;
    background-size:100% 100%;
}

.btn--more {
    margin-top:1rem;
    font-size:2rem;
    background-color:#ed7102;
}

/* emoji */
.page-footer img { margin-bottom:2rem; }
.emoji-set6-1 {
    width:28rem;
    margin-top:2rem;
}
.emoji-set6-2 { width:23rem; }
.emoji-set6-3 { width:30rem; }
.emoji-set6-4 { width:auto; }

/* share buttons */
.share {
    margin-top:6rem;
    text-align:center;
}
.share > span {
    display:block;
    margin-bottom:2rem;
    font:2rem/1.2 'FuturaBold', Helvetica, Arial, sans-serif;
}
.share__buttons { text-align:center; }
.share__buttons li {
    display:inline-block;
    width:3.6rem;
    height:3.6rem;
    margin:0 1rem;
}
.share__buttons a {
    opacity:1;
    display:block;
    width:100%;
    height:100%;
    transition:opacity .2s;
}
.share__buttons a:hover { opacity:.7; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* 380 px */
@media only screen and (min-width: 380px) {

    .bubble--first::before { right:-125rem; }
    .bubble--first::after {
        bottom:-6rem;
        right:70%;       
    }
    
    .page-footer .inner { padding-top:2rem; }
    .page-footer::before {
        top:7rem;
        margin-left:-150rem;
    }
    
}

/* 420 px */
@media only screen and (min-width: 420px) {
    
    body { padding-top:8rem; }
    .page-header { height:8rem; }
    .logo {
        width:7.5rem;
        height:5.4rem;
    }
    .btn {
        padding:1.2rem 2rem;
        font-size:2rem;
    }
    .btn--decode,
    .btn--decode-back { top:1.8rem; }
    .btn--decode::before {
        width:5.2rem;
        height:3.4rem;
        left:-6.2rem;
        margin-top:-1.8rem;
    }
    .btn--decode-back::before {
        width:4.1rem;
        height:3.8rem;
        left:-5.2rem;
        margin-top:-2rem;
    }

    h1 { font-size:2.8rem; }
    p { font-size:2.4rem; }
    .bubble--first h1 { font-size:3.2rem; }
    .bubble--first p { font-size:2rem; }
    
    .bubble--first {
        margin-bottom:8rem;
        padding-bottom:4rem;
    }
    .bubble--first::before {
        bottom:-7rem;
        right:-110rem;
    }
    
    .bubble--second {
        width:26rem;
        height:26rem;
        margin-bottom:4rem;
    }
    .bubble--third {
        width:32rem;
        height:32rem;
        margin-bottom:4rem;
    }
    .bubble--fourth {
        width:32rem;
        height:32rem;
    }
    .bubble--fifth {
        width:30rem;
        height:30rem;
    }
    .bubble--fifth p { padding-top:3rem; }
    
    .page-content--emoji .bubble--fourth { margin-bottom:6rem; }
    
    .emoji-set1-1 { width:38rem; }
    .emoji-set1-2 { width:18rem; }
    .emoji-set1-3 { width:14rem; }
    
    .emoji-set1-2 + br { display:none; }
    
    .emoji-set6-1 { width:32rem; }
    .emoji-set6-2 { width:23rem; }
    .emoji-set6-3 { width:30rem; }
    
}

/* 480 px */
@media only screen and (min-width: 480px) {
    
    .bubble--first::before { right:-105rem; }
    .bubble--second { margin-bottom:0; }
    .bubble--third { margin-bottom:1rem; }
    .bubble--fourth { margin-bottom:6rem; }
    
    .page-content--emoji .bubble--second,
    .page-content--emoji .bubble--third,
    .page-content--emoji .bubble--fourth { margin-bottom:4rem; }
    
    .emoji-set1-4 { width:30rem; }
    .emoji-set6-1 { width:38rem; }
    .emoji-set6-2 { width:30rem; }
    .emoji-set6-3 { width:40rem; }
 
}

/* 520 px */
@media only screen and (min-width: 520px) {
 
    .bubble--first { padding-bottom:6rem; }
    .bubble--first::before { right:-100rem; }
    
    .emoji-set1-1 { width:40rem; }
    .emoji-set1-2 { width:20rem; }
    .emoji-set1-3 { width:16rem; }
    .emoji-set1-4 { width:32rem; }
    .emoji-set6-1 { width:42rem; }
    .emoji-set6-2 { width:36rem; }
    .emoji-set6-3 { width:46rem; }
    
}

/* 560 px */
@media only screen and (min-width: 560px) {
    
    .page-header { text-align:center; }
    .btn--decode,
    .btn--decode-back {
        float:none;
        margin-left:8rem;
    }
    
    .bubble--second { margin-bottom:-5rem; }
    .bubble--third { margin-bottom:-2rem; }
    .bubble--fourth { margin-bottom:2rem; }
    
    .page-content--emoji .bubble--second,
    .page-content--emoji .bubble--third,
    .page-content--emoji .bubble--fourth { margin-bottom:0rem; }
    
    .page-footer .inner { padding-top:4rem; }
    .share { text-align:right; }
    .share > span {
        display:inline-block;
        margin-bottom:0;
    }
    .share__buttons {
        position:relative;
        top:.5rem;
        display:inline-block;
        padding-right:2rem;
        text-align:right;
    }
    
}

/* 620 px */
@media only screen and (min-width: 620px) {
    
    .bubble--first { padding-bottom:4rem; }
    .bubble--first::before { right:-90rem; }
    .bubble--first::after {
        bottom:-8rem;
        right:78%;
        width:12rem;
        height:12rem;
    }
    
    .bubble--second { margin-bottom:-10rem; }
    .bubble--third { margin-bottom:-5rem; }
    .bubble--fourth { margin-bottom:-6rem; }
    
    .bubble--third::after {
        top:-12rem;
        right:3rem;
        width:10.6rem;
        height:18rem;
    }
    .bubble--fourth::after {
        top:-8rem;
        left:1rem;
        width:14rem;
        height:14.4rem;
    }
    .bubble--fifth::after {
        top:-8rem;
        margin-left:-7.5rem;
        width:15rem;
        height:15rem;
        border-radius:32px;
    }
    
    .page-content--emoji .bubble--fourth,
    .page-content--emoji .bubble--second,
    .page-content--emoji .bubble--third { margin-bottom:-4rem; }
    
    .emoji-set1-1 { width:32rem; }
    .emoji-set1-1 + br { display:none; }
    .emoji-set1-2 + br { display:block; }
    .emoji-set1-3 { width:13rem; }
    .emoji-set1-3 + br { display:none; }
    .emoji-set1-4 { width:35rem; }
    
    .page-footer .inner { padding-top:2rem; }
    .page-footer .inner::before {
        top:-5rem;
        width:9.4rem;
        height:10.8rem;
    }
   
}

/* 720 px */
@media only screen and (min-width: 720px) {
    
    body { padding-top:9rem; }
    
    .page-header { height:9rem; }
    .logo {
        top:1.4rem;
        width:8.5rem;
        height:6.1rem;
    }
    .btn {
        padding:1.5rem 2rem;
        font-size:2.8rem;
    }
    .btn--decode::before {
        width:6.2rem;
        height:4.1rem;
        left:-7.7rem;
        margin-top:-2.2rem;
    }
    .btn--decode-back::before {
        width:4.9rem;
        height:4.6rem;
        left:-6.3rem;
        margin-top:-2.4rem;
    }
 
    .inner,
    .page-content { padding:0 4rem; }

    h1 {
        font-size:3.2rem;
        line-height:1.2;
    }
    p { font-size:2.8rem; }
    .bubble--first h1 { font-size:3.6rem; }
    .bubble--first p { font-size:2.4rem; }
    
    .bubble--first { margin-bottom:12rem; }
    .bubble--first::before { right:-80rem; }
    .bubble--first::after {
        bottom:-12rem;
        right:78%;
        width:14rem;
        height:14rem;
    } 
    
    .bubble--second {
        width:30rem;
        height:30rem;
    }
    .bubble--third {
        width:38rem;
        height:38rem;
    }
    .bubble--fourth {
        width:38rem;
        height:38rem;
        margin-bottom:0;
    }
    .bubble--fifth {
        width:35rem;
        height:35rem;
    }
    
    .bubble--third::after {
        top:-14rem;
        right:4rem;
        width:12.7rem;
        height:21.6rem;
    }
    .bubble--fourth::after {
        top:-9rem;
        left:2rem;
        width:16.8rem;
        height:17.3rem;
    }
    .bubble--fifth::after {
        margin-left:-8.5rem;
        width:17rem;
        height:17rem;
        border-radius:36px;
    }
    .page-footer .inner::before {
        top:-4rem;
        width:11.3rem;
        height:13rem;
    }
    
    .bubble--fourth .btn--more { padding:1.5rem 3rem; }
    
    .page-content--emoji .bubble--fourth,
    .page-content--emoji .bubble--second,
    .page-content--emoji .bubble--third { margin-bottom:0; }
    
    .emoji-set1-1 { width:38rem; }
    .emoji-set1-2 { width:24rem; }
    .emoji-set1-3,
    .emoji-set1-4,
    .emoji-set2-2,
    .emoji-set3-2,
    .emoji-set3-3,
    .emoji-set5-2,
    .emoji-set6-2,
    .emoji-set6-3 { width:auto; } 
    
}

/* 800 px */
@media only screen and (min-width: 800px) {
    
    .bubble--first::before { right:-80rem; }
    .bubble--first::after {
        bottom:-10rem;
        right:auto;
        left:0;
    }
    
    .bubble--second { margin-bottom:-15rem; }
    .bubble--third { margin-bottom:-8rem; }
    .bubble--fourth { margin-bottom:-9rem; }
    
    .page-content--emoji .bubble--second { margin-bottom:-10rem; }
    .page-content--emoji .bubble--third { margin-bottom:-2rem; }
    .page-content--emoji .bubble--fourth { margin-bottom:-8rem; }
    .emoji-set1-1 { width:42rem; }
    .emoji-set1-2 { width:26rem; }
    
}

/* 860 px */
@media only screen and (min-width: 860px) {
    
    body { background-size:810px; }
    .bubble--first {
        margin-bottom:8rem;
        padding-left:16rem;
    }
    .bubble--first::before { right:-80rem; }
    .bubble--first::after {
        bottom:-4rem;
        left:0;
        width:16rem;
        height:16rem;
    }
    
    .bubble--second {
        width:34rem;
        height:34rem;
    }
    .bubble--third {
        width:44rem;
        height:44rem;
    }
    .bubble--fourth {
        width:44rem;
        height:44rem;
    }
    .bubble--fifth {
        width:40rem;
        height:40rem;
    }
    
    .bubble--third::after {
        top:-13rem;
        right:3rem;
        width:14.4rem;
        height:24.6rem;
    }
    .bubble--fourth::after {
        top:-8rem;
        left:6rem;
        width:20.2rem;
        height:20.8rem;
    }
    .bubble--fifth::after {
        margin-left:-10rem;
        width:20rem;
        height:20rem;
        border-radius:42px;
    }
    
    .page-content--emoji .bubble--first { padding-left:0; }
    
    .page-footer .inner::before {
        top:-6rem;
        width:13.6rem;
        height:15.6rem;
    }
    
}

/* 920 px */
@media only screen and (min-width: 920px) {

    .bubble--first::after {
        bottom:0;
        left:-2rem;
    }
    
    .bubble--second {
        width:36rem;
        height:36rem;
        margin-bottom:-19rem;
    }
    .bubble--third {
        width:48rem;
        height:48rem;
        padding:0 4rem;
    }
    .bubble--fourth {
        width:48rem;
        height:48rem;
        margin-bottom:-11rem;
    }
    .bubble--fifth {
        width:44rem;
        height:44rem;
    }
    
    .bubble--third::after {
        top:-12rem;
        right:6rem;
    }
    
    .bubble > img { margin-bottom:4rem; }
    .emoji-set1-1,
    .emoji-set1-2 { width:auto; }
    .emoji-set6-2 { width:35rem; }
    .emoji-set6-2 + br { display:none; }
    .emoji-set6-3 {
        width:46rem;
        margin:.6rem 0 0 1rem;
    }
    
    .page-footer .inner::before { top:-4rem; }
    .page-footer::before {
        top:6rem;
        margin-left:-135rem;
    }
    
}

/* 1000 px */
@media only screen and (min-width: 1000px) {
 
    .page-content--emoji .bubble--second { margin-bottom:-20rem; }
    .page-content--emoji .bubble--third { margin-bottom:-8rem; }
    .page-content--emoji .bubble--fourth { margin-bottom:-14rem; }
    
}

/* 1100 px */
@media only screen and (min-width: 1100px) {

    .bubble--first {
        padding-left:20rem;
        margin-bottom:2rem;
    }
    .bubble--first::before {
        bottom:-12rem;
        right:-85rem;
    }
    .bubble--first::after {
        bottom:auto;
        left:-2rem;
        top:6rem;
    }
    
    .bubble--second {
        width:38rem;
        height:38rem;
        margin-bottom:-20rem;
    }
    .bubble--third {
        width:52rem;
        height:52rem;
        margin-bottom:-14rem;
    }
    .bubble--fourth {
        width:58rem;
        height:58rem;
        margin-bottom:-20rem;
    }
    .bubble--fifth {
        width:48rem;
        height:48rem;
    }
    
    .bubble--third::after {
        top:-10rem;
        right:auto;
        left:8rem;
        -webkit-transform:rotate(-25deg);
        -ms-transform:rotate(-25deg);
        transform:rotate(-25deg);   
    }
    .bubble--fourth::after {
        top:-6rem;
        left:8rem;
    }
    .bubble--fifth p { padding-top:2rem; }
    
    .emoji-set6-2,
    .emoji-set6-3 { width:auto; }
    
}

/* 1150 px */
@media only screen and (min-width: 1150px) {

    .inner,
    .page-content { padding:0 6rem; }
    
    .bubble--first { padding-left:30rem; }
    .bubble--first::after {
        width:20rem;
        height:20rem;
        left:2rem;
    }
    .bubble--fifth::after { top:-6rem; }
    
    .page-footer { padding-bottom:6rem; }
    
}

/* 1200 px */
@media only screen and (min-width: 1200px) {
    
    .page-content {
        overflow:visible;
        float:none;
    }
    
    h1 { font-size:3.8rem; }
    p { font-size:3rem; }
    .bubble--first h1 { font-size:4.2rem; }
    .bubble--first p { font-size:2.6rem; }
    
    .page-content--emoji .bubble--third { margin-bottom:-8rem; }
    .page-content--emoji .bubble--fourth {
        margin-bottom:-40rem;
        margin-left:-4rem;
    }
    
}

/* 1350 px */
@media only screen and (min-width: 1350px) {
 
    .page-content--emoji .bubble--fourth { margin-left:-10rem; }
    
}
