@media only screen and (min-width:980px) and (max-width:1190px){
.header_in						{ width:960px;}
.team_block						{ width:960px;}
.team_membars ul				{ margin:0;}
.team_membars ul li				{ margin:0 18px 0 0;}

.main_content_in				{ width:960px;}
.headding h2.team				{ padding:0 50px 0 0;}

.left_blog						{ width:485px;}
.left_blog h4					{ font-size:35px;}
.right_blog						{ width:449px;}
.main_content_in p				{ width:450px;}
.main_content_in span img		{ width:440px; height:auto;}
a.play_btn						{ left:107px; top:110px;}
.main_content_in ul li a img	{ width:105px; height:auto;}
.karta_block_in					{ width:960px;}
.day							{ width:480px;}
.map							{ width:470px;}
.map a img						{ width:470px; height:auto;}				
.footer_in						{ width:960px;}
.footer_bottom					{ width:960px;}

.popup							{ width:960px;}
.load_main						{ width:960px; margin:0 auto;}
.popup1							{ width:960px;}
.popup2							{ width:960px;}
.popup3							{ width:960px;}
.popup4							{ width:960px;}
.popup5							{ width:960px;}
.popup_in.two					{ width:800px;}
.popup_in img					{ width:100%; height:auto;}
.slider ul li					{ width:800px !important; }

.pager ul						{ width:721px !important;}
.pager ul li					{ width:98px !important;}
.pager ul li a img				{ width:97px !important; height:auto;}
.popup_in.two .bx-wrapper .bx-controls-direction a{ background-size:100% 100%; width:30px !important; height:100px !important; margin:0 !important; top:100.2% !important;}

a.play_btn1						{ left:280px; top:220px;}
#carousel						{width:83%;}
#carousel1						{width:83%;}

}


@media only screen and (min-width:768px) and (max-width:979px){
.banner							{ background-size:cover;}
.header							{ background-size:cover;}
.header_in						{ width:720px; padding:10px 0 10px; position:relative;}


.header_right					{ width:625px; height:100%; margin:0 -760px 0 0; padding:45px 60px 0 0; background:#2b2871; float:none; position:fixed; top:0; right:0; z-index:999999; webkit-transition: all 0.5s ease-in-out;  -moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}

.header_right ul				{ float:none; display:block; margin:0 0 85px 0;}
.header_right ul li				{ float:none; display:block; margin:0;}
.header_right ul li	 a			{ color:#009fe2; text-align:right;}

.header_right ul li ul li a		{ text-align:left;}


.social_icons ul				{ float:left; display:inline-block; padding:0; margin:0;}
.social_icons ul li				{ float:left; display:inline-block; padding:0; margin:0 20px 0 0;}

.menu							{ position:absolute; right:0; top:78px; background:url(../images/menu-btn.png) no-repeat; width:44px; height:44px; display:block; cursor:pointer;}

.close1							{ background:url(../images/close-btn.png) no-repeat;  width:44px; height:44px; display:block; position:absolute; top:92px; left:-75px; background-size:100% 100%; cursor:pointer;}

.team_block						{ width:720px; padding:45px 0 65px;}
.team_block h1					{ display:none;}
.team_block h1.mble				{ font-family: 'whitney_blackregular'; font-size:50px; font-weight:normal; color:#ffffff; line-height:65px; background:url(../images/team-img.png) no-repeat left 23px;  float:none; padding:20px 0 10px 81px; letter-spacing:0.7px; display:block;}

.team_right						{ width:720px; float:none;}
.dd .ddTitle					{ width:658px !important;}
.dd .ddChild					{ width:658px !important;}
.team_membars					{ margin:55px 0 0;}
.team_membars ul 				{ width:420px; margin:0 0 25px 0;}
.team_membars ul li				{ width:75px; margin:0; position:relative;}
.team_membars ul li img			{ width:115px; height:auto;}
.team_membars ul li span		{ display:none;}
.team_membars ul li small		{ width:270px; position:absolute; left:210px; top:0; font-family: 'whitney_blackregular'; font-size:20px; font-weight:normal; color:#ffffff; display:block; padding:18px 0 0 0; margin:0; line-height:21px;}

.team_membars ul li.txt			{ top:50px; left:210px;}

.main_content_in				{ width:720px; padding:51px 0 90px;}
.headding						{ margin:0 0 5px 0;}
.headding h2.team				{ padding:0 34px 0 0;}
.left_blog						{ width:360px;}
.right_blog						{ width:330px;}
.main_content_in h2				{ font-size:50px; padding:0 0 30px; line-height:52px;}
.main_content_in h3				{ font-size:25px; line-height:27px;}
.main_content_in em				{ font-size:15px;}
.main_content_in a				{ font-size:15px;}
.main_content_in h4				{ font-size:25px; line-height:27px;}
.main_content_in p				{ font-size:20px; width:340px; line-height:22px;}
.main_content_in span img		{ width:325px; height:auto;}
.main_content_in ul li.hide		{ display:none !important;}
.main_content_in ul li a img	{ width:105px; height:auto;}

a.play_btn						{ width:125px; font-size:12px !important; line-height:12px !important; padding:14px 0 12px 20px !important; background-position:114px center; background-size:9% 50%; left:85px; top:90px;}

a.load_more						{ margin:29px auto 0 auto;}

.karta_block_in					{ width:720px;}
.day							{ width:350px; margin:0 auto; float:none; display:block; padding:0;}
.day h2							{ font-size:25px; padding:0 0 30px; line-height:25px;}
.day p							{ font-size:20px; line-height:22px;}

.map							{ width:400px; margin:0 auto 50px auto; float:none; display:block;}
.map a img						{ width:400px; height:auto;}				


.footer_in						{ width:490px; padding:100px 0 65px;}
.brands							{ width:490px; padding:0 0 60px 0;}
.brands ul li					{ margin:0 57px 0 0;}
.brands ul li a img				{ width:125px; height:auto;}
.brands ul li a.mid				{ display:block; margin:13px 0 0 0;}
.footer_bottom					{ width:490px;}
.footer_nav						{ float:none; margin:0 auto; padding:0 0 55px 0; display:block;}
.footer_btm_rght				{ float:none; margin:0 auto; display:block;}

.popup							{ width:748px;}
.popup_in						{ width:640px;}
.popup_in img					{ width:640px; height:auto; margin: auto; display:block;}
.popup_in ul li a img			{ width:auto; }

.load_main						{ width:720px;}
.popup1							{ width:748px;}
.popup2							{ width:748px;}
.popup3							{ width:748px;}
.popup4							{ width:748px;}
.popup5							{ width:748px;}
.popup_in.two					{ width:640px;}
.slider ul li					{ width:641px !important; }
.pager							{ margin:9px 0 35px;}
.pager ul						{ width:560px !important;}
.pager ul li					{ width:75px !important;}
.pager ul li a img				{ width:73px !important; height:auto;}
.popup_in.two .bx-wrapper .bx-controls-direction a{ background-size:100% 100%; width:30px !important; height:75px !important; margin:0 !important;}
a.play_btn1						{ left:195px; top:175px;}
#carousel						{width:79%;}
#carousel1						{width:79%;}

}


@media only screen and (min-width:590px) and (max-width:767px){
.banner							{ background-size:cover;}
.header							{ background-size:cover;}

.header_in						{ width:570px; padding:10px 0; position:relative;}

.header_right					{ width:295px; height:100%; margin:0 -450px 0 0; padding:45px 60px 0 0; background:#2b2871; float:none; position:fixed; top:0; right:0; z-index:999999; webkit-transition: all 0.5s ease-in-out;  -moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}
.header_right ul				{ float:none; display:block; margin:0 0 85px 0;}
.header_right ul li				{ float:none; display:block; margin:0;}
.header_right ul li	 a			{ color:#009fe2; text-align:right;}
.header_right ul li ul li a		{ text-align:left;}


.social_icons ul				{ float:left; display:inline-block; padding:0; margin:0;}
.social_icons ul li				{ float:left; display:inline-block; padding:0; margin:0 20px 0 0;}

.menu							{ position:absolute; right:0; top:80px; background:url(../images/menu-btn.png) no-repeat; width:44px; height:44px; display:block; cursor:pointer;}

.close1							{ background:url(../images/close-btn.png) no-repeat;  width:44px; height:44px; display:block; position:absolute; top:57px; left:-54px; background-size:100% 100%; cursor:pointer;}

.team_block						{ width:570px; padding:45px 0 70px;}
.team_block h1					{ display:none;}
.team_block h1.mble				{ font-family: 'whitney_blackregular'; font-size:50px; font-weight:normal; color:#ffffff; line-height:65px; background:url(../images/team-img.png) no-repeat left 23px;  float:none; padding:20px 0 10px 81px; letter-spacing:0.7px; display:block;}
.team_right						{ width:570px; float:none;}
.dd .ddTitle					{ width:508px !important;}
.dd .ddChild					{ width:508px !important;}
.team_membars					{ margin:55px 0 0;}
.team_membars ul 				{ width:420px; margin:0 0 25px 0;}
.team_membars ul li				{ width:75px; margin:0; position:relative;}
.team_membars ul li img			{ width:115px; height:auto;}
.team_membars ul li span		{ display:none;}
.team_membars ul li small		{ width:270px; position:absolute; left:210px; top:0; font-family: 'whitney_blackregular'; font-size:20px; font-weight:normal; color:#ffffff; display:block; padding:18px 0 0 0; margin:0; line-height:21px;}
.team_membars ul li.txt			{ top:50px; left:210px;}


.main_content_in				{ width:570px;}
.headding						{ width:400px; margin:0 auto 35px auto;}
.headding h2.team				{ padding:0; float:left;}
.headding h2					{ width:180px; float:right; font-size:16px; color:#009fe2; border:solid 1px #009fe2; padding:0; text-align:center; border-radius:30px; text-transform:uppercase; line-height:35px;}
.main_content_in span img		{ width:100%; height:auto;}
.main_content_in ul li a img	{ width:138px; height:auto;}
.left_blog						{ width:570px; float:none; margin:0 auto; border:none;}
.right_blog						{ width:570px; float:none; margin:0 auto;}
.main_content_in ul li:nth-child(4)	{ margin:0 0 5px 0;}
.main_content_in ul li:nth-child(8)	{ margin:0 0 5px 0;}
#carousel						{width:74%;}
#carousel1						{width:79%;}


.karta_block_in					{ width:570px;}
.day							{ width:440px; margin:0 auto; float:none; display:block; padding:0;}
.day h2							{ font-size:25px; padding:0 0 30px; line-height:25px;}
.day p							{ font-size:20px; line-height:22px;}

.map							{ width:500px; margin:0 auto 50px auto; float:none; display:block;}
.map a img						{ width:500px; height:auto;}				


.footer_in						{ width:570px; padding:80px 0 60px 0;}
.brands							{ width:490px; padding:0 0 60px 0;}
.brands ul li					{ margin:0 57px 0 0;}
.brands ul li a img				{ width:125px; height:auto;}
.brands ul li a.mid				{ display:block; margin:13px 0 0 0;}
.footer_bottom					{ width:490px;}
.footer_nav						{ float:none; margin:0 auto; padding:0 0 55px 0; display:block;}
.footer_btm_rght				{ float:none; margin:0 auto; display:block;}

.popup							{ width:570px;}
.popup_in						{ width:520px;}
.popup_in img					{ width:520px; height:auto; margin: auto; display:block;}
.popup_in ul li a img			{ width:auto; }

.load_main						{ width:565px;}
.popup1							{ width:100%;}
.popup2							{ width:100%;}
.popup3							{ width:100%;}
.popup4							{ width:100%;}
.popup5							{ width:100%;}
.popup_in.two					{ width:520px;}
.slider ul li					{ width:520px !important; }

.pager ul						{ width:463px !important;}
.pager ul li					{ width:61px !important;}
.pager ul li a img				{ width:60px !important; height:auto;}
.popup_in.two .bx-wrapper .bx-controls-direction a{ background-size:100% 100%; width:19px !important; height:62px !important; margin:0 !important; top:100.2% !important;}
a.play_btn1						{ left:155px; top:145px;}
.popup_in span.video_blck		{ padding:0 0 20px 0 !important;}
}

@media only screen and (min-width:420px) and (max-width:589px){
.banner							{ background-size:cover; min-height:585px;}
.header							{ background-size:cover;}

.header_in						{ width:390px; padding:9px 0 7px; position:relative;}
.logo a img						{ width:111px; height:auto;}

.header_right					{ width:295px; height:100%; margin:0 -410px 0 0; padding:45px 60px 0 0; background:#2b2871; float:none; position:fixed; top:0; right:0; z-index:999999; webkit-transition: all 0.5s ease-in-out;  -moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}

.header_right ul				{ float:none; display:block; margin:0 0 85px 0;}
.header_right ul li				{ float:none; display:block; margin:0;}
.header_right ul li	a			{ color:#009fe2; text-align:right;}
.header_right ul li ul li a		{ text-align:left;}



.social_icons ul				{ float:left; display:inline-block; padding:0; margin:0;}
.social_icons ul li				{ float:left; display:inline-block; padding:0; margin:0 20px 0 0;}
.menu							{ position:absolute; right:0; top:41px; background:url(../images/menu-btn.png) no-repeat; width:44px; height:44px; display:block; cursor:pointer;}
.close1							{ background:url(../images/close-btn.png) no-repeat;  width:44px; height:44px; display:block; position:absolute; top:57px; left:-54px; background-size:100% 100%; cursor:pointer;}


.team_block						{ width:390px; padding:27px 0 0;}
.team_block h1					{ display:none;}
.team_block h1.mble				{ font-family: 'whitney_blackregular'; font-size:35px; font-weight:normal; color:#ffffff; line-height:42px; background:url(../images/team-img.png) no-repeat left 23px;  float:none; padding:20px 0 10px 58px; letter-spacing:0.7px; display:block; background-size:11% 55%;}
.team_right						{ width:300px; float:none;}
.dd .ddTitle					{ width:328px !important;}
.dd .ddChild					{ width:328px !important;}
.team_membars					{ margin:55px 0 0;}
.team_membars ul 				{ width:300px; margin:0 0 25px 0;}
.team_membars ul li				{ width:40px; margin:0; position:relative;}
.team_membars ul li img			{ width:50px; height:auto;}
.team_membars ul li span		{ display:none;}
.team_membars ul li small		{ width:205px; position:absolute; left:107px; top:0; font-family: 'whitney_blackregular'; font-size:15px; font-weight:normal; color:#ffffff; display:block; padding:0; margin:0; line-height:15px;}


.main_content_in				{ width:390px; padding:50px 0 70px;}
.headding						{ margin:0 0 35px 0;}
.headding h2.team				{ padding:0; float:left;}
.headding h2					{ width:180px; float:right; font-size:16px; color:#009fe2; border:solid 1px #009fe2; padding:0; text-align:center; border-radius:30px; text-transform:uppercase; line-height:35px;}
#carousel						{width:65%;}
#carousel1						{width:65%;}

.flexslider .slides img			{margin:0 !important;}
.main_content_in ul li a img	{ width:125px; height:auto;}
.main_content_in span img		{ width:390px; height:auto;}
.main_content_in h3				{ font-size:25px; line-height:25px;}
.main_content_in em				{ font-size:15px;}
.main_content_in a				{ font-size:15px;}
.main_content_in h4				{ font-size:25px; line-height:27px;}
.main_content_in p				{ font-size:20px; width:300px; line-height:22px;}
.main_content_in ul li.hide		{ display:none !important;}

.team_membars ul li.txt			{ top:16px; left:87px;}
a.play_btn						{ width:125px; font-size:12px !important; line-height:13px !important; padding:14px 0 14px 20px !important; background-position:114px center; background-size:9% 50%; left:115px; top:90px;}


.left_blog						{ width:390px; float:none; margin:0 auto; padding:0; display:none;}
.right_blog						{ width:390px; float:none; margin:0 auto; padding:0;}

.load_more						{ width:200px; font-size:18px; padding:12px 0; margin:20px auto 0;}


.karta_block_in					{ width:390px; padding:40px 0 0;}
.day							{ width:390px; margin:0 auto; float:none; display:block; padding:0;}
.day h2							{ font-size:25px; padding:0 0 30px; line-height:25px;}
.day p							{ font-size:20px; line-height:22px;}

.map							{ width:390px; margin:0 auto 50px auto; float:none; display:block;}
.map a img						{ width:390px; height:auto;}	
.blue_top						{ background-size:cover;}		
.blue_btoom						{ background-size:cover;}

.footer_in						{ width:390px; padding:80px 0 60px 0;}
.brands							{ width:390px; padding:0 0 60px 0;}
.brands ul li					{ margin:0 30px 0 0;}
.brands ul li a img				{ width:110px; height:auto;}
.brands ul li a.mid				{ display:block; margin:13px 0 0 0;}
.footer_bottom					{ width:390px;}
.footer_nav						{ width:340px; float:none; margin:0 auto; padding:0 0 55px 0; display:block;}
.footer_nav ul li				{ margin:0 14px 0 0;}
.footer_nav ul li a				{ font-size:14px;}
.footer_btm_rght				{ float:none; margin:0 auto; display:block;}

.popup							{ width:100%;}
.popup_in						{ width:390px;}
.popup_in img					{ width:390px; height:auto; margin:15px auto; display:block;}
.popup_in p						{ font-size:20px; line-height:20px; padding:0;}
.popup_in ul li a img			{ width:auto; }
.close							{ right:15px; top:28px; width:34px; height:34px; background-size:100% 100%;}
.load_main						{ width:390px;}
.popup1							{ width:100%;}
.popup2							{ width:100%;}
.popup3							{ width:100%;}
.popup4							{ width:100%;}
.popup5							{ width:100%;}
.popup_in.two					{ width:390px;}
.slider ul li					{ width:390px !important; }

.pager ul						{ width:343px !important;}
.pager ul li					{ width:44px !important;}
.pager ul li a img				{ width:44px !important; height:auto;}
.popup_in.two .bx-wrapper .bx-controls-direction a{ background-size:100% 100%; width:19px !important; height:46px !important; margin:0 !important; top:100.2% !important;}
a.play_btn1						{ width:150px; left:95px; top:105px; padding:10px 0 13px 16px !important; background-position:130px center; font-size:15px;}

}

@media (max-width:419px) {
.banner							{ background-size:cover; min-height:585px;}
.header							{ background-size:cover;}

.header_in						{ width:300px; padding:9px 0 7px; position:relative;}
.logo a img						{ width:111px; height:auto;}

.header_right					{ width:230px; height:100%; margin:0 -350px 0 0; padding:45px 35px 0 0; background:#2b2871; float:none; position:fixed; top:0; right:0; z-index:999999; webkit-transition: all 0.5s ease-in-out;  -moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}

.header_right ul				{ float:none; display:block; margin:0 0 85px 0;}
.header_right ul li				{ float:none; display:block; margin:0;}
.header_right ul li	 a			{ color:#009fe2; text-align:right;}
.header_right ul li ul li a		{ text-align:left;}

.social_icons ul				{ float:left; display:inline-block; padding:0; margin:0;}
.social_icons ul li				{ float:left; display:inline-block; padding:0; margin:0 12px 0 0;}

.menu							{ position:absolute; right:0; top:45px; background:url(../images/menu-btn.png) no-repeat; width:44px; height:44px; display:block; cursor:pointer;}

.close1							{ background:url(../images/close-btn.png) no-repeat;  width:35px; height:35px; position:absolute; top:57px; left:-44px; background-size:100% 100%; cursor:pointer; webkit-transition: all 0.5s ease-in-out;  -moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}

.team_block						{ width:300px; padding:27px 0 0;}
.team_block h1					{ display:none;}
.team_block h1.mble				{ font-family: 'whitney_blackregular'; font-size:35px; font-weight:normal; color:#ffffff; line-height:42px; background:url(../images/team-img.png) no-repeat left 23px;  float:none; padding:20px 0 10px 55px; letter-spacing:0.7px; display:block; background-size:14% 55%;}
.team_right						{ width:300px; float:none;}
.team_right h2					{ font-size:19px;}
.dd .ddTitle					{ width:238px !important;}
.dd .ddChild					{ width:238px !important;}
.team_membars					{ margin:55px 0 0;}
.team_membars ul 				{ width:300px; margin:0 0 25px 0;}
.team_membars ul li				{ width:30px; margin:0; position:relative;}
.team_membars ul li img			{ width:45px; height:auto;}
.team_membars ul li span		{ display:none;}
.team_membars ul li small		{ width:205px; position:absolute; left:93px; top:0; font-family: 'whitney_blackregular'; font-size:15px; font-weight:normal; color:#ffffff; display:block; padding:0; margin:0; line-height:15px;}
#carousel						{width:56%;}
#carousel1						{width:56%;}

.flexslider .slides img			{margin:0 !important;}


.main_content_in				{ width:300px; padding:50px 0 52px;}
.headding						{ margin:0 0 40px 0;}
.headding h2.team				{ padding:0; float:left;}
.headding h2					{ width:140px; float:right; font-size:16px; color:#009fe2; border:solid 1px #009fe2; padding:0; text-align:center; border-radius:30px; text-transform:uppercase; line-height:35px;}

.main_content_in ul li:nth-child(3)	{ margin:0 0 5px 0;}
.main_content_in ul li:nth-child(6)	{ margin:0 0 5px 0;}

.main_content_in ul li.hide		{ display:none !important;}
.main_content_in ul li a img	{ width:96px; height:auto;}
.main_content_in span img		{ width:300px; height:auto;}
.main_content_in h3				{ font-size:20px; line-height:22px;}
.main_content_in em				{ font-size:15px; padding:0 0 10px;}
.main_content_in a				{ font-size:15px;}
.main_content_in h4				{ font-size:25px; line-height:27px;}
.main_content_in p				{ font-size:20px; width:300px; line-height:22px;}

.team_membars ul li.txt			{ top:16px; left:87px;}
a.play_btn						{ width:125px; font-size:12px !important; line-height:12px !important; padding:14px 0 12px 20px !important; background-position:114px center; background-size:9% 50%; left:85px; top:90px;}


.left_blog						{ width:300px; float:none; margin:0 auto; padding:0; display:none;}
.right_blog						{ width:300px; float:none; margin:0 auto; padding:0;}

.load_more						{ width:200px; font-size:18px; padding:12px 0; margin:20px auto 0;}



.karta_block_in					{ width:300px; padding:35px 0 0;}
.day							{ width:300px; margin:0 auto; float:none; display:block; padding:0;}
.day h2							{ font-size:25px; padding:0 0 30px; line-height:25px;}
.day p							{ font-size:20px; line-height:22px;}
.map							{ width:300px; margin:0 auto 50px auto; float:none; display:block;}
.map a img						{ width:300px; height:auto;}				
.blue_top						{ background-size:cover;}		
.blue_btoom						{ background-size:cover;}


.footer_in						{ width:300px; padding:80px 0 60px 0;}
.brands							{ width:125px; padding:0 0 60px 0;}
.brands ul 						{ float:none; display:block;}
.brands ul li					{ float:none; display:block; margin:0 0 30px 0;}
.brands ul li a img				{ width:125px; height:auto;}
.footer_bottom					{ width:300px;}
.footer_nav						{ width:160px; float:none; margin:0 auto; padding:0 0 55px 0; display:block;}
.footer_nav ul 					{ float:none; display:block;}
.footer_nav ul li				{ float:none; display:block; margin:0 0 20px 0; text-align:center;}

.footer_btm_rght				{ float:none; margin:0 auto; display:block;}

.popup							{ width:100%;}
.popup_in						{ width:300px;}
.popup_in img					{ width:300px; height:auto; margin:15px auto; display:block;}
.popup_in p						{ font-size:20px; line-height:20px; padding:0;}
.popup_in ul li a img			{ width:auto; }
.close							{ right:10px; top:33px; width:34px; height:34px; background-size:100% 100%;}
.popup1							{ width:100%;}
.popup2							{ width:100%;}
.popup3							{ width:100%;}
.popup4							{ width:100%;}
.popup5							{ width:100%;}

.popup_in.two					{ width:300px;}
.slider ul li					{ width:300px !important; }
.pager ul						{ width:245px !important;}
.pager ul li					{ width:30px !important;}
.pager ul li a img				{ width:30px !important; height:auto;}
.popup_in.two .bx-wrapper .bx-controls-direction a{ background-size:100% 100%; width:14px !important; height:32px !important; margin:0 !important; top:100.2% !important;}


.load_main						{ width:300px;}
a.play_btn1						{ width:150px; left:65px; top:78px; padding:10px 0 13px 16px !important; background-position:130px center; font-size:15px;}

}
























