/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

button {
    cursor:pointer;
    outline:none;
    background:none;
    border:none;
}

html {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
*, *:before, *:after {
    -webkit-box-sizing:inherit;
    -moz-box-sizing:inherit;
    box-sizing:inherit;
}

/* ----------------------------
    general
---------------------------- */
@font-face {
    font-family:'FranklinGothic-Medium';
    src: url('../assets/fonts/FranklinGothic-Medium.eot');
    src: url('../assets/fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/FranklinGothic-Medium.woff2') format('woff2'),
         url('../assets/fonts/FranklinGothic-Medium.woff') format('woff'),
         url('../assets/fonts/FranklinGothic-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

html {
    font-size:62.5%;
    box-sizing:border-box;
}
*,
*:before,
*:after { box-sizing:inherit; }

body {
    font:1rem/1.4 Arial, Helvetica, sans-serif;
    color:#555;
    background-color:#f1f8fd;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.inner {
    position:relative;
    max-width:116rem;
    margin:0 auto;
    padding:0 2rem;
}

img { max-width:100%; }
h1 {
    margin-bottom:1.2rem;
    font:3.2rem 'FranklinGothic-Medium', Arial, Helvetica, sans-serif;
    color:#0a304c;
}
p {
    margin-bottom:1.2rem;
    font-size:1.8rem;
}
b,
strong { font-weight:bold; }

a,
a:visited { color:#0063b3;}
a:hover,
a:active { text-decoration:none; }

.btn,
a.btn {
    display:inline-block;
    padding:2rem 3rem;
    color:#fff;
    font:bold 1.6rem/1 Arial, Helvetica, sans-serif;
    text-align:center;
    text-decoration:none;
    border-radius:6px;
    color:#fff;
    background:#94c3e7;
    background:-moz-linear-gradient(top, #94c3e7 0%, #3d8fcd 100%);
    background:-webkit-gradient(left top, left bottom, color-stop(0%, #94c3e7), color-stop(100%, #3d8fcd));
    background:-webkit-linear-gradient(top, #94c3e7 0%, #3d8fcd 100%);
    background:-o-linear-gradient(top, #94c3e7 0%, #3d8fcd 100%);
    background:-ms-linear-gradient(top, #94c3e7 0%, #3d8fcd 100%);
    background:linear-gradient(to bottom, #94c3e7 0%, #3d8fcd 100%);
    filter: =0 );
}
.btn:hover,
a.btn:hover {
    background:#7ca0bf;
    background:-moz-linear-gradient(top, #7ca0bf 0%, #336eaa 100%);
    background:-webkit-gradient(left top, left bottom, color-stop(0%, #7ca0bf), color-stop(100%, #336eaa));
    background:-webkit-linear-gradient(top, #7ca0bf 0%, #336eaa 100%);
    background:-o-linear-gradient(top, #7ca0bf 0%, #336eaa 100%);
    background:-ms-linear-gradient(top, #7ca0bf 0%, #336eaa 100%);
    background:linear-gradient(to bottom, #7ca0bf 0%, #336eaa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ca0bf', endColorstr='#336eaa', GradientType=0 );
}


/* ----------------------------
    header
---------------------------- */
.page-header {
    background:#d2e5f6;
    background:-moz-linear-gradient(top, #d2e5f6 0%, #eff4fa 100%);
    background:-webkit-gradient(left top, left bottom, color-stop(0%, #d2e5f6), color-stop(100%, #eff4fa));
    background:-webkit-linear-gradient(top, #d2e5f6 0%, #eff4fa 100%);
    background:-o-linear-gradient(top, #d2e5f6 0%, #eff4fa 100%);
    background:-ms-linear-gradient(top, #d2e5f6 0%, #eff4fa 100%);
    background:linear-gradient(to bottom, #d2e5f6 0%, #eff4fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e5f6', endColorstr='#eff4fa', GradientType=0 );
}
.page-header .inner { padding:4rem 2rem; }

.header-logo {
    display:inline-block;   
    width:15rem;
    margin-bottom:4rem;
}

/* header info txt */
.info-txt {
    z-index:2;
    position:relative;
    width:50%;
}

/* ---- slide info ---- */

/* controls */
.info-btns {
    z-index:1;
    position:absolute;
    top:0;
    right:0;
    width:60%;
    height:100%;
}
.info-btns:before {
    content:'';
    position:absolute;
    top:0;
    right:16rem;
    display:inline-block;
    width:14.5rem;
    height:13rem;
    background:url(../assets/header-img-top.png) no-repeat 50% 0; 
    background-size:cover;
}
.info-btns:after {
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    display:inline-block;
    width:40rem;
    height:16rem;
    background:url(../assets/header-img-bottom.png) no-repeat 50% 0;
    background-size:cover;
}

.info-btns li {
    z-index:100;
    position:absolute;
}

.info-btns li:nth-child(1) {
    bottom:4.3rem;
    right:40.9rem;
}

.info-btns li:nth-child(2) {
    bottom:16.1rem;
    right:34rem;
}
.info-btns li:nth-child(3) {
    bottom:16.8rem;
    right:3rem;
}

.info-btns button {
    cursor:pointer;
    min-height:4rem;
    padding-right:5rem;
    font:1.6rem/1 'FranklinGothic-Medium', Arial, Helvetica, sans-serif;
    text-align:right;
    color:#0a304c;
    text-shadow:0 1px 0 rgba(255,255,255,.9);
}
    
.info-btns button:before {
    content:'+';
    position:absolute;
    top:.2rem;
    right:0;
    display:inline-block;
    width:4rem;
    height:4rem;
    padding-top:2rem;
    border-radius:100%;
    font:bold 3.2rem/0 Arial, sans-serif;
    text-align:center;
    text-shadow:none;
    color:#fff;
    background-color:#00497c;
    box-shadow:0 2px 2px rgba(0,0,0,.3);
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
}
.info-btns button:hover:before {
    background-color:#035fa0;
    -webkit-transform:scale(1.2,1.2);
    transform:scale(1.2,1.2);
}


/* slides */
.info-slide {
    z-index:9999;
    position:absolute;
    top:0;
    left:0;
    right:0;
    display:none;
    width:100%;
    min-height:38rem;
    background-color:#eff7fd;
    border-bottom:1px solid #cce2f2;
    box-shadow:0 1px 0 #fbfdfe;
}

.info-slide .inner {
    min-height:32rem;
    padding:4rem 2rem;
}
.info-slide .info-txt { width:70%; }
.info-slide .btn { margin-top:2rem; }

.btn-close {
    position:absolute;
    top:4rem;
    right:0;
    font:2.2rem/0 'FranklinGothic-Medium', Arial, Helvetica, sans-serif;
    txt-align:right;
    color:#00497c;
}
.btn-close:after,
.btn-close:before {
    vertical-align:middle;
    content:url(../assets/x-close.svg);
    display:inline-block;
    width:4.2rem;
    height:4.2rem;
    padding:1.1rem;
    margin-left:1rem;
    background-color:#00497c;
    -webkit-transition:background-color .3s ease;
    transition:background-color .3s ease;
    border-radius:100%;
}
.btn-close:hover:after,
.btn-close:hover:before { background-color:#035fa0; }

.btn-close:before {
    display:none;
    margin-left:0;
    margin-right:1rem;
}


/* ----------------------------
    content
---------------------------- */
.page-content { padding-bottom:8rem; }

/* walls.io */
.social-feed {
    overflow:hidden;
    position:relative;
    max-width:116rem;
    min-height:160rem;
    margin:0 auto 8rem 0;
    -webkit-overflow-scrolling:touch;
}
.social-feed:after {
    content:'';
    z-index:100;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:20rem;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(241,248,253,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(241,248,253,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(241,248,253,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(241,248,253,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(241,248,253,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(241,248,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f8fd', GradientType=0 );
}
.feed-tooltip {
    display:none;
    z-index:1000;
    position:absolute;
    top:2rem;
    left:0;
    width:100%;
    padding:1.5rem 2rem;
    font:2.4rem/1 'FranklinGothic-Medium', Arial, Helvetica, sans-serif;
    text-align:center;
    color:#0a304c;
    background:rgba(241,248,253,.95);
}
.feed-tooltip:after {
    content:"";
    display:inline-block;
    position:relative;
    top:.5rem;
    width:3rem;
    height:2.4rem;
    margin-left:1rem;
    background:url(../assets/ico-mouse.svg) no-repeat 50% 50%;
}

.social-feed iframe {
    overflow:hidden;
    position:absolute;
    top:2rem;
    right:-15px;
    bottom:0;
    width:100%;
    height:100%;
    z-index:99;
    -webkit-overflow-scrolling:touch;
}
.no-touch .social-feed iframe {
    width:-webkit-calc(100% + 15px);
    width:calc(100% + 15px);
}

/* carousel */
.carousel {
    padding:6rem 2rem 0 2rem;
    border-top:1px solid #f9fcfe;
    box-shadow:0 -1px 0 #cce2f2;
}

.owl-carousel {
    max-width:90rem;
    margin:0 auto;
}
.carousel-txt {
    float:left;
    width:70%;
    padding:4rem 0 0 8rem;
}
.carousel-img {
    float:left;
    width:30%;
    text-align:center;
}
.erste-redomat img { margin-top:5rem; }

.carousel p { font-size:1.6rem; }
.carousel .intro-txt {
    font-size:1.8rem;
    font-weight:bold;
}
.carousel .btn { margin-top:4rem; }


/* ----------------------------
    footer
---------------------------- */
.page-footer {
    overflow:hidden;
    padding:2.5rem 3rem 5rem 3rem;
    border-top:1px solid #c8e2f3;
    background-color:#fff;
}
.footer-logo {
    float:left;
    display:inline-block;   
    width:15rem;
}
.copyright-info {
    position:relative;
    top:2.7rem;
    left:7rem;
    float:left;
    width:70%;
    font-size:1.4rem;
    color:#0063b3;
}
.page-footer a { display:inline-block; }


/* ----------------------------
    media queries
---------------------------- */
@media only screen and (max-width:1200px) {

    .info-slide .inner {
        min-height:none;
        padding:8rem 4rem 4rem 4rem;
    }
    .info-slide .info-txt { width:80%; }
    .btn-close {
        top:2rem;
        right:2rem;
    }

}

    
@media only screen and (max-width:1100px) {
    
    h1 { font-size:2.8rem; }
    p { font-size:1.6rem; }
    .carousel p { font-size:1.4rem; }
    .carousel .intro-txt { font-size:1.6rem; }
    
    .info-txt { width:50%; }
    
    .info-btns:before {
        width:10rem;
        height:9rem;
        right:12.5rem;
    }
    .info-btns:after {
        width:30rem;
        height:12rem;
    }

    .info-btns li:nth-child(1) {
        bottom:2rem;
        right:30.8rem;
    }
    .info-btns li:nth-child(2) {
        bottom:12rem;
        right:27rem;
    }
    .info-btns li:nth-child(3) {
        bottom:13rem;
        right:3.5rem;
    }

    .info-btns button {
        min-height:2.6rem;
        padding-right:3.8rem;
    }
    .info-btns button:before {
        width:3rem;
        height:3rem;
        top:.4rem;
        padding-top:1.5rem;
        font-size:2.6rem;
    }
    
    .carousel .btn { margin-top:2rem; }
    .carousel-txt { padding-left:4rem; }
    
}


@media only screen and (max-width:900px) {
    
    .page-header .inner { padding-bottom:2rem; }
    .info-txt {
        width:100%;
        margin-bottom:2rem;
    }
    
    .info-btns:before,
    .info-btns:after { display:none; }
    
    .info-btns {
        position:relative;
        top:auto;
        right:auto;
        width:100%;
    }

    .info-btns li {
        position:relative;
        bottom:auto !important;
        right:auto !important;
        margin-bottom:2rem;
    }
    .info-btns li br { display:none; }
    .info-btns button {
        min-height:4rem;
        padding-left:5rem;
        font:2rem/1 'FranklinGothic-Medium', Arial, Helvetica, sans-serif;
        text-align:left;
    }
    .info-btns button:before {
        top:0;
        left:0;
        width:4rem;
        height:4rem;
        padding-top:2rem;
        font-size:3.2rem;
    }
    
    .info-slide { min-height:100vh; }
    .info-slide .inner { padding-top:12rem; }
    .info-slide .info-txt { width:100%; }
    .btn-close {
        top:4rem;
        right:auto;
        left:3rem;
        txt-align:left;
    }
    .btn-close:after { display:none; }
    .btn-close:before { display:inline-block; }
    
    .social-feed:after { height:10rem; }

}


@media only screen and (max-width:800px) {

    .page-footer {
        padding-bottom:2.5rem;
        text-align:center;
    }

    .footer-logo {
        float:none;
        margin-bottom:4rem;
    }
    .copyright-info {
        top:auto;
        left:auto;
        float:none;
        width:100%;
        text-align:center;
    }
    .copyright-info a { margin-top:1rem; }
    
    .social-feed:after { height:8rem; }
    
}


@media only screen and (max-width:620px) {
    
    .social-feed:after { height:4rem; }
    
    .carousel-txt {
        float:none;
        width:100%;
        padding:0;
    }
    .carousel-img {
        float:none;
        width:100%;
        text-align:left;
        margin-bottom:4rem;
    }
    .carousel-img img {
        max-width:15rem;
        max-height:20rem;
    }
    .erste-redomat img { margin-top:0; }
    
}