/* ==========================================================================
   reset
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    font-size:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

::-moz-selection {
    color:#fff;
    background: #00a1e5;
    text-shadow: none;
}

::selection {
    color:#fff;
    background: #00a1e5;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input,
select,
textarea {
    outline:none;
    font-family:'Whitney SSm A', 'Whitney SSm B', Calibri, Arial, sans-serif;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   general
   ========================================================================== */
body {
    font:400 1rem/1.4 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    color:#fff;
    background:url(/static/voting/bg-page.jpg) no-repeat 50% 0 fixed;
    background-size:cover;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
main { display:block; }
.inner,
.page-content,
.candidates-list,
.page-footer {
    max-width:117rem;
    margin:0 auto;
}

h1 {
    margin-bottom:2.4rem;
    font:800 5.6rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
p {
    font-size:2.2rem;
}
ul li,
ol li {
    list-style:none;
    margin-bottom:1.2rem;
    font-size:2.2rem;
}

a,
a:visited {
    outline:none;
    color:#009fe2;
}
a:hover,
a:active { text-decoration:none; }

button {
    cursor:pointer;
    outline:none;
    border:none;
}

img { max-width:100%; }


/* ==========================================================================
   header
   ========================================================================== */
.page-header {
    position:relative;
    top:-10rem;
    width:100%;
    margin-bottom:0;
    padding:12rem 0 1rem 0;
    background:url(/static/voting/bg-header.jpg) no-repeat 50% 100%;
    background-size:cover;
    -webkit-transform:skew(0deg, -1.5deg);
    -ms-transform:skew(0deg, -1.5deg);
    transform:skew(0deg, -1.5deg);
}
.page-header .inner {
    -webkit-transform:skew(0deg, 1.5deg);
    -ms-transform:skew(0deg, 1.5deg);
    transform:skew(0deg, 1.5deg);
}

.logo {
    display:inline-block;
    width:18rem;
    height:10rem;
    transition:.3s;
}
.logo:hover {
    -webkit-transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.logo img { display:inline-block; }

.main-nav {
    float:right;
    position:relative;
    top:2.5rem;
    display:inline-block;
    display:inline-block;
    text-transform:uppercase;
    font:800 2.4rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
.main-nav li {
    display:inline-block;
    margin-left:4rem;
}
.main-nav a {
    text-decoration:none;
    color:#fff;
    transition:color .2s;
}
.main-nav a.highlighted { text-decoration:underline; }
.main-nav a:hover { color:#009fe2; }


/* ==========================================================================
   content
   ========================================================================== */
.main-copy {
    min-height:17rem;
    margin:0 8rem 10rem 8rem;
    padding-right:20rem;
    background:url(/static/voting/ico-support-candidate.svg) no-repeat 100% 0;
    background-size:17rem 17rem;
}
.main-copy b { font-weight:800; }


/* ========== candidates ========== */
.candidates { margin-bottom:10rem; }

.list-tools {
    float:left;
    width:100%;
    margin-bottom:6rem;
}


/* ----- filter by country ----- */
/* unordered list */
.country-filter {
    float:left;
    width:65%;
}
.country-filter b,
.search label {
    display:block;
    margin:0 0 1.5rem 1rem;
    font:800 2.4rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
.country-filter li {
    display:inline-block;
    margin:0 .5rem 0 0;
}
.country-filter a {
    display:inline-block;
    padding:.7rem 1rem;
    text-decoration:none;
    font:800 1.7rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    color:#fff;
    border-radius:10rem;
    border:2px solid rgba(255,255,255,.3);
    transition:.3s;
}
.country-filter a:hover {
    border-color:#fff;
    background-color:rgba(255,255,255,.3);
}
.country-filter a.active {
    color:#00a1e5;
    border-color:#00a1e5;
    background-color:transparent;
}

/* select */
.country-filter select {
    cursor:pointer;
    display:inline-block;
    width:25rem;
    height:4.5rem;
    padding:.5rem 2rem 1rem 2rem;
    font:800 2rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    color:#fff;
    background:transparent;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    text-indent:0.01px;
    text-overflow:'';
}
.country-filter select option { color:#2f2f2f; }
.country-filter:after {
    content:"";
    display:inline-block;
}
.country-filter > div {
    overflow:hidden;
    position:relative;
    height:4.5rem;
    background:rgba(255,255,255,.15);
    border-radius:50px;
    border:2px solid #fff;
    transition:.3s;
}
.country-filter > div:hover { background-color:rgba(255,255,255,.3); }
.country-filter > div:after {
    content:"";
    cursor:pointer;
    z-index:-1;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    display:inline-block;
    width:4.5rem;
    height:100%;
    background:#fff url(/static/voting/select-arrow.svg) no-repeat 45% 50%;
    background-size:1.6rem 1rem;
}


/* ----- search ----- */
.search { float:right; }
.search label { margin:0 0 1rem 2rem; }
.search input[type=text] {
    float:left;
    width:25rem;
    height:5rem;
    padding:0 2rem;
    font-size:1.8rem;
    line-height:1;
    border:2px solid #fff;
    border-radius:10rem;
    color:#fff;
    background-color:rgba(255,255,255,.15);
    transition:.2s;
}
.search ::-webkit-input-placeholder { color:rgba(255,255,255,.7); }
.search :-moz-placeholder { color:rgba(255,255,255,.7); }
.search ::-moz-placeholder { color:rgba(255,255,255,.7); }
.search :-ms-input-placeholder { color:rgba(255,255,255,.7); }

.search input[type=text]:hover { background-color:rgba(255,255,255,.3); }
.search input[type=text]:focus {
    color:#009fe2;
    border-color:#009fe2;
    background-color:rgba(255,255,255,.3);
}

.search input[type="submit"] {
    cursor:default;
    float:left;
    display:inline-block;
    width:5rem;
    height:5rem;
    margin-left:1rem;
    border-radius:100%;
    border:none;
    background:#009fe2 url(/static/voting/ico-search.svg) no-repeat 50% 50%;
    background-size:2.2rem;
    transition:.2s;
    text-indent:1000%;
    white-space:nowrap;
    overflow:hidden;
}

#search-result-is-empty {
    clear:both;
    margin:4rem 2rem 8rem 2rem;
    padding:2rem;
    background-color:rgba(255,255,255,.1);
    border-radius:8px;
}


/* ----- candidates list ----- */
.list {
    clear:both;
    overflow:hidden;
}
.list > li {
    float:left;
    width:25%;
    padding:0 1.5rem 8rem 1.5rem;
}

/* profile pic */
.person {
    width:100%;
    text-align:center;
}
.person-pic {
    z-index:10;
    position:relative;
    display:inline-block;
    width:16rem;
    margin-bottom:1rem;
}
.person-pic > a {
    overflow:hidden;
    display:block;
    width:100%;
    height:16rem;
    font-size:1.2rem;
    text-align:center;
    background-color:rgba(255,255,255,.9);
    border:6px solid rgba(255,2552,255,.5);
    border-radius:100%;
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}
.person-pic img {
    display:inline-block;
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}

/* share */
.btn-share {
    position:absolute;
    top:0;
    left:0;
    width:5.5rem;
    height:5.5rem;
    border:2px solid #fff;
    border-radius:100%;
    background:rgba(0,159,226,.75) url(/static/voting/ico-share.svg) no-repeat 50% 50%;
    background-size:2.4rem 2.4rem;
    transition:.2s;
    text-indent:1000%;
    white-space:nowrap;
    overflow:hidden;
}

.share-options-small {
    opacity:0;
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5.5rem;
    text-align:center;
    background:rgba(255,255,255,.95);
    border-radius:10rem;
    transition:.3s;
}
.share-options-small:hover,
.share-options-small:active {
    opacity:1;
}
.share-options-small li {
    float:left;
    width:33.333333%;
    height:5.5rem;
    margin:0;
    padding:.5rem;
}

.ico-facebook,
.ico-twitter,
.ico-google-plus {
    opacity:1;
    display:block;
    width:100%;
    height:100%;
    background-size:cover;
    text-indent:1000%;
    white-space:nowrap;
    overflow:hidden;
    transition:.2s;
}
.ico-facebook:hover,
.ico-twitter:hover,
.ico-google-plus:hover { opacity:.75; }
.ico-facebook { background:url(/static/voting/ico-facebook.svg) no-repeat 50% 50%; }
.ico-twitter { background:url(/static/voting/ico-twitter.svg) no-repeat 50% 50%; }
.ico-google-plus { background:url(/static/voting/ico-google-plus.svg) no-repeat 50% 50%; }

/* short info */
.short-info {
    position:relative;
    height:34rem;
    margin:-8rem 0 2rem 0;
    padding:8rem 2rem 2rem 2rem;
    background: rgba(255,255,255,.3);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.3)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    border-radius:8px;
    transition:.3s;
}
.person:hover .short-info { box-shadow:0 10px 30px rgba(0,0,0,.3); }
.short-info h2 { font:800 2.4rem/1.2 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif; }
.person-country {
    display:block;
    margin-bottom:2rem;
    text-transform:uppercase;
    font-size:1.5rem;
}
.short-info a {
    text-decoration:none;
    color:#fff;
    transition:color .2s;
}
.short-info a:hover { color:#009fe2; }
.short-info p {
    overflow:hidden;
    height:9.2rem;
    margin-bottom:2rem;
    text-align:left;
    font-size:1.5rem;
    line-height:1.2;
    display:block;
    display:-webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.link-more-info {
    position:absolute;
    left:0;
    bottom:1.5rem;
    display:block;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    font:800 1.8rem/2 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
/* vote button + counter */
.voting {
    padding:0 .5rem;
    text-align:left;
}
.btn-vote {
    float:right;
    padding:1rem 1rem 1rem 1.5rem;
    text-transform:uppercase;
    font:800 2.4rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    color:#fff;
    background-color:#47b900;
    border-radius:10rem;
    transition:.2s;
}
.btn-vote:hover,
.btn-vote:active { background-color:#009fe2; }
.btn-vote:after {
    content:"";
    float:right;
    display:inline-block;
    width:2.5rem;
    height:2.5rem;
    margin-left:.7rem;
    border-radius:100%;
    background:#6cc733 url(/static/voting/ico-plus.svg) no-repeat 50% 50%;
    background-size:1.1rem;
    transition:.2s;
}
.btn-vote:hover:after,
.btn-vote:active:after{
    background:#0b8ec5 url(/static/voting/ico-plus.svg) no-repeat 50% 50%;
    background-size:1.1rem;
    -webkit-transform:scale(1.2,1.2) rotate(90deg);
    -ms-transform:scale(1.2,1.2) rotate(90deg);
    transform:scale(1.2,1.2) rotate(90deg);
}
.btn-vote.vote-disabled,
.btn-vote.vote-disabled:hover {
    cursor:default;
    opacity:.7;
    background-color:#aaa;
}
.btn-vote.vote-disabled:after,
.btn-vote.vote-disabled:hover:after {
    background:#bbb url(/static/voting/ico-plus.svg) no-repeat 50% 50%;
    background-size:1.1rem;
    -webkit-transform:scale(1,1) rotate(0);
    -ms-transform:scale(1,1) rotate(0);
    transform:scale(1,1) rotate(0);
}
.vote-counter {
    position:relative;
    top:.6rem;
    text-transform:uppercase;
    font-size:1.4rem;
}
.vote-counter b { font-size:1.8rem; }


/* ----- pagination ----- */
.list-pagination { text-align:center; }
.list-pagination ul {
    position:relative;
    display:inline-block;
    min-height:3.5rem;
    padding:0 6rem;
    font:800 1.8rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
.list-pagination li {
    display:inline-block;
    margin:0 .5rem 1rem .5rem;
}
.list-pagination a {
    display:inline-block;
    width:3.5rem;
    height:3.5rem;
    padding:.6rem 0;
    text-decoration:none;
    font-size:1.8rem;
    color:#fff;
    border-radius:50rem;
    border:2px solid rgba(255,255,255,.3);
    transition:.3s;
}
.list-pagination a:hover {
    border-color:#fff;
    background-color:rgba(255,255,255,.3);
}
.list-pagination a.active {
    cursor:default;
    color:#00a1e5;
    border-color:#00a1e5;
    background-color:transparent;
}
.list-pagination .prev,
.list-pagination .next {
    position:absolute;
    top:-.4rem;
}
.list-pagination .prev { left:0; }
.list-pagination .next { right:0; }
.list-pagination .prev a,
.list-pagination .next a {
    width:4.2rem;
    height:4.2rem;
    border-color:#fff;
    text-indent:1000%;
    white-space:nowrap;
    overflow:hidden;
}
.list-pagination .prev a {
    background:url(/static/voting/arrow-left.svg) no-repeat 45% 50%;
    background-size:1.2rem 2.2rem;
}
.list-pagination .next a {
    background:url(/static/voting/arrow-right.svg) no-repeat 55% 50%;
    background-size:1.2rem 2.2rem;
}


/* ==========================================================================
   person details
   ========================================================================== */
.person-details {
    margin-bottom:10rem;
    padding:4rem 4rem 8rem 4rem;
    color:#222;
    background-color:#fff;
    -webkit-transform:skew(0deg, -1.5deg);
    -ms-transform:skew(0deg, -1.5deg);
    transform:skew(0deg, -1.5deg);
}
.person-details > div {
    -webkit-transform:skew(0deg, 1.5deg);
    -ms-transform:skew(0deg, 1.5deg);
    transform:skew(0deg, 1.5deg);
}
.person-details:before,
.person-details:after {
    content:"";
    display:table;
}
.person-details:after  { clear:both; }

.person-details .left-column {
    float:left;
    width:25%;
}
.person-details .right-column {
    float:right;
    width:75%;
    padding-left:6rem;
}

.person-id {
    float:left;
    width:100%;
    margin-bottom:4rem;
}
.person-id .picture {
    overflow:hidden;
    width:20rem;
    height:20rem;
    margin-top:-8rem;
    text-align:center;
    background-color:rgba(255,255,255,.9);
    border:6px solid rgba(255,2552,255,.5);
    border-radius:100%;
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}
.person-id img {
    display:inline-block;
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}

.person-id h1 {
    margin:0;
    padding-right:4rem;
    font-size:5.2rem;
    color:#009fe2;
}
.person-id .person-country {
    font-size:2.4rem;
    color:#333;
}

.long-info { clear:both; }
.person-details h2 {
    margin-bottom:2rem;
    font:800 3.2rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    color:#333;
}
.person-details p {
    margin-bottom:2rem;
    font-size:2rem;
}


.points-calculator {
    width:80%;
    margin-top:6rem;
}
.points-calculator li { font:800 2rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif; }
.points-calculator li.overall {
    margin-top:2rem;
    padding-top:1rem;
    text-transform:uppercase;
    font-size:2.6rem;
    color:#47b900;
    border-top:1px solid #666;
}
.points-calculator b {
    vertical-align:top;
    display:inline-block;
    width:40%;
}
.points-calculator .number {
    vertical-align:top;
    display:inline-block;
    width:20%;
    text-align:right;
    font-family:"Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
.points-calculator .points {
    float:right;
    display:inline-block;
    width:30%;
    text-align:left;
    white-space:nowrap;
}
.points-calculator .points:before { content:"= "; }
.points-calculator .points {
    text-transform:uppercase;
    font-size:1.4rem;
}
.points-calculator .points span {
    text-transform:lowercase;
    font-size:2rem;
}
.points-calculator .overall .points span { font-size:2.6rem; }

.person-details .voting {
    margin-bottom:4rem;
    padding:0;
    text-align:center;
}
.person-details .vote-counter {
    display:block;
    margin-bottom:1rem;
    font-size:1.8rem;
}
.person-details .vote-counter b { font-size:2.8rem; }
.person-details .btn-vote {
    float:none;
    width:100%;
    font-size:3.2rem;
}
.person-details .btn-vote:after {
    content:"";
    float:right;
    display:inline-block;
    width:3.5rem;
    height:3.5rem;
    margin-left:1rem;
    border-radius:100%;
    background:#6cc733 url(/static/voting/ico-plus.svg) no-repeat 50% 50%;
    background-size:1.4rem;
    transition:.2s;
}
.person-details .btn-vote:hover:after {
    background:#0b8ec5 url(/static/voting/ico-plus.svg) no-repeat 50% 50%;
    background-size:1.4rem;
    -webkit-transform:scale(1.2,1.2) rotate(90deg);
    -ms-transform:scale(1.2,1.2) rotate(90deg);
    transform:scale(1.2,1.2) rotate(90deg);
}

.person-details .btn-vote.vote-disabled:after,
.person-details .btn-vote.vote-disabled:hover:after {
    width:3.5rem;
    height:3.5rem;
    background:#bbb url(/static/voting/ico-plus.svg) no-repeat 50% 50%;
    background-size:1.4rem;
    -webkit-transform:scale(1,1) rotate(0);
    -ms-transform:scale(1,1) rotate(0);
    transform:scale(1,1) rotate(0);
}

/* share options big */
.share-options-big {
    position:relative;
    width:100%;
    padding:1rem 0;
    text-align:center;
    background-color:#f6f6f6;
    border-radius:8px;
}
.share-options-big > span {
    position:relative;
    display:block;
    text-transform:uppercase;
    margin-bottom:1rem;
    font-size:2rem;
}
.share-options-big li {
    display:inline-block;
    width:auto;
    padding:0 1rem;
}
.share-options-big a {
    width:5rem;
    height:5rem;
}


/* ----- popup window ----- */
.mfp-content {
    top:10vh;
    max-width:117rem;
    margin-bottom:4rem;
    padding:0;
    background-color:#fff;
    box-shadow:0 5px 30px rgba(0,0,0,.75);
    -webkit-transform:skew(0deg, -1.5deg);
    -ms-transform:skew(0deg, -1.5deg);
    transform:skew(0deg, -1.5deg);
}
.mfp-content .person-details,
.mfp-content .text-page {
    background-color:#fff;
    -webkit-transform:skew(0deg, 0deg);
    -ms-transform:skew(0deg, 0deg);
    transform:skew(0deg, 0deg);
}
.mfp-content .page-header,
.mfp-content .page-footer { display:none; }
.mfp-content .person-details > div,
.mfp-content .text-page > div {
    -webkit-transform:skew(0deg, 1.5deg);
    -ms-transform:skew(0deg, 1.5deg);
    transform:skew(0deg, 1.5deg);
}
.mfp-content .person-details { margin-bottom:0; }
.mfp-content .person-details .mfp-close,
.mfp-content .text-page .mfp-close {
    opacity:1;
    z-index:9999;
    position:absolute;
    top:3rem;
    right:3rem;
    display:inline-block;
    width:3rem;
    height:3rem;
    background:#fff url(/static/voting/x-close.svg) no-repeat 50% 50%;
    -webkit-transform:skew(0deg, 3deg);
    -ms-transform:skew(0deg, 3deg);
    transform:skew(0deg, 3deg);
    text-indent:1000%;
    white-space:nowrap;
    overflow:hidden;
}

.text-page {
    font-size:1.6rem;
    color:#444;
}
.text-page > div { padding:8rem; } 
.text-page h1 {
    padding-right:4rem;
    margin-bottom:3.6rem;
    text-transform:uppercase;
    font:3.6rem/1 "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
.text-page h1 strong {
    font-family:"Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    font-weight:800;
}
.text-page h2 {
    margin-top:2.4rem;
    font:800 1.8rem "Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
}
.text-page p {
    margin-bottom:1.2rem;
    font-size:1.6rem;
}


/* ==========================================================================
   footer
   ========================================================================== */
.page-footer {
    overflow:hidden;
    clear:both;
    margin-bottom:10rem;
}
.footer-logo {
    margin-bottom:10rem;
    text-align:center;
}
.footer-logo li {
    display:inline-block;
    width:33%;
    max-width:30rem;
    padding:0 5rem;
}
.footer-logo img {
    display:inline-block;
    width:100%;
    height:100%;
}

.footer-bottom { padding:0 10rem; }
.footer-links {
    position:relative;
    top:2.7rem;
    float:left;
    width:70%;
}
.footer-links li {
    display:inline-block;
    margin-right:2rem;
}
.footer-links a {
    font-size:1.6rem;
    color:#fff;
}

a.powered-by {
    float:right;
    display:inline-block;
    width:30%;
    max-width:28rem;
    text-align:center;
    text-decoration:none;
    color:#fff;
}
.powered-by small {
    display:block;
    margin-bottom:.5rem;
    opacity:.3;
    font-size:1.8rem;
}
.powered-by img {
    width:28rem;
    height:3.8rem;
}


/* ==========================================================================
   responsive
   ========================================================================== */
@media only screen and (max-width:1200px) {
    
    .page-header { padding:12rem 2rem 1rem 2rem; }
    .list-tools { padding:0 2rem; }
    .list-pagination ul { margin:0 2rem; }
    
}


@media only screen and (max-width:1100px) {
    
    .list > li { width:33.33333333%; }
    
}


@media only screen and (max-width:980px) {
    
    .main-copy {
        margin:0 2rem 8rem 2rem;
        padding-right:20rem;
        background-size:14rem 14rem;
    }
    h1 { font-size:4.8rem; }
    
    .country-filter { width:auto; }
    .country-filter b {
        margin-left:2rem;
        margin-bottom:1rem;
    }
    .search input[type=text] { height:4.5rem; }
    
    .person-id .picture {
        width:18rem;
        height:18rem;
    }
    .points-calculator { width:100%; }
    .share-options-big a {
        width:4rem;
        height:4rem;
    }
    
    .footer-bottom { padding:0 2rem; }
    
}


@media only screen and (max-width:840px) {
    
    .list > li { width:50%; }
        
    .long-info .left-column,
    .long-info .right-column {
        clear:both;
        float:none;
        width:100%;
        padding:0;
    }
    .person-id { margin-bottom:2rem; }
    .person-id .right-column {
        margin-top:-2rem;
        padding-left:4rem;
    }
    .long-info .left-column {
        overflow:hidden;
        margin-bottom:2rem;
    }
    .person-id .picture {
        width:16rem;
        height:16rem;
    }
    .person-details .voting { float:left; }
    .share-options-big {
        top:1rem;
        float:right;
        width:auto;
        padding:.5rem 1rem;
    }
    .share-options-big > span { margin-bottom:.5rem; }
    
    .footer-links {
        width:100%;
        float:none;
        top:0;
        margin-bottom:4rem;
        text-align:center;
    }
    .footer-links li { margin:0 1rem; }
    a.powered-by {
        float:none;
        display:block;
        width:25rem;
        max-width:25rem;
        margin:0 auto;
    }
    
}


@media only screen and (max-width:760px) {
    
    .main-copy {
        margin:0 2rem 6rem 2rem;
        padding-right:15rem;
        background-size:12rem 12rem;
    }
    h1 { font-size:4.2rem; }
    p {
        font-size:2rem;
        line-height:1.2;
    }

    .mfp-content .person-details .mfp-close {
        top:2rem;
        right:2rem;
    }
    .person-id .right-column { width:74%; }
    .person-id .picture {
        width:14rem;
        height:14rem;
    }

    .footer-logo { margin-bottom:4rem; }
    .footer-logo li { padding:0 4rem; }
    
    .text-page > div { padding:4rem; }
    
}



@media only screen and (max-width:680px) {

    .page-header { padding-bottom:0; }
    .logo {
        width:16rem;
        height:8.9rem;
        margin-bottom:2rem;
    }
    .main-nav { top:1.5rem; }
    .main-nav li {
        display:block;
        margin:0 0 1.5rem 0;
        text-align:right;
    }
    
    .main-copy {
        margin-top:-4rem;
        padding-right:14rem;
        background-size:10rem 10rem;
    }
    .country-filter select,
    .search input[type=text] { width:20rem; }
    
    .person-id h1 {
        margin-bottom:.5rem;
        font-size:4.2rem;
    }
    .person-id .person-country { font-size:2rem; }
    
}


@media only screen and (max-width:640px) {
    
    .person-id .left-column {
        width:100%;
        margin-bottom:2rem;
    }
    .person-id .right-column {
        clear:left;
        float:none;
        width:100%;
        margin-top:0;
        padding-left:0;
    }
    .person-id h1 { padding-right:0;  }
    .person-id .picture {
        width:16rem;
        height:16rem;
    }
    
}


@media only screen and (max-width:560px) {
    
    .main-nav li { font-size:2rem; }
    
    .main-copy {
        margin-top:-6rem;
        padding-right:0;
        padding-top:12rem;
        text-align:center;
        background-position:50% 0;
        background-size:10rem 10rem;
    }
    
    .country-filter,
    .search {
        float:none;
        display:block;
        width:100%;
    }
    .country-filter select { width:100%; }
    .search {
        position:relative;
        padding-right:6rem;
    }
    .search input[type=text] { width:100%; }
    .search input[type="submit"] {
        position:absolute;
        bottom:0;
        right:0;
        width:4.5rem;
        height:4.5rem;
        background-size:2rem;
    }
    
    .list > li {
        width:100%;
        padding-bottom:4rem;
    }
    .person {
        float:left;
        width:100%;
        padding:1.5rem;
        text-align:left;
        background: rgba(255,255,255,.3);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.3)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
        border-radius:8px;
    }

    .person-pic {
        float:left;
        width:25%;
        margin-bottom:0;
    }
    .person-pic > a {
        width:11rem;
        height:11rem;
        border:4px solid rgba(255,2552,255,.5);
    }
    .btn-share {
        top:-.5em;
        left:-.5rem;
        width:4rem;
        height:4rem;
        background-size:2rem 2rem;
    }
    .btn-share:hover { background-size:2rem 2rem; }

    .share-options-small {
        width:12rem;
        top:-.5rem;
        left:-.5rem;
        height:4rem;
    }
    .share-options-small li { height:4rem; }
    
    .short-info {
        float:right;
        width:72%;
        height:auto;
        margin-top:0;
        padding:1rem 0 0 2rem;
        background:none;
    }
    .person:hover .short-info { box-shadow:none; }
    .short-info h2 { font-size:2.2rem; }
    .short-info p,
    .link-more-info { display:none; }

    .voting {
        clear:both;
        width:100%;
    }
    .btn-vote {
        padding:.7rem 1rem .7rem 2rem;
        font-size:2rem;   
    }
    .btn-vote:after {
        width:2rem;
        height:2rem;
        background-size:1rem;
    }
    .btn-vote:hover:after { background-size:1rem; }
    
    .person-details { padding: 4rem 2rem 8rem 2rem; }
    .person-details .voting { width:auto; }
    .points-calculator li { margin-bottom:2rem; }
    .points-calculator b {
        display:block;
        width:100%;
        margin-bottom:.5rem;
    }
    .points-calculator .overall b {
        display:inline-block;
        width:auto;
    }
    .points-calculator .number {
        width:auto;
        text-align:left;
        font-family:"Whitney SSm A", "Whitney SSm B", Calibri, Arial, sans-serif;
    }
    .points-calculator .points {
        float:none;
        width:auto;
        white-space:normal;
    }
    
    
    .footer-logo li { padding:0 2rem; }
    
}


@media only screen and (max-width:460px) {
    
    .logo {
        width:12rem;
        height:6.7rem; 
    }
    .main-nav { top:1rem; }
    .main-nav li { font-size:1.8rem; }
    
    .person-pic > a {
        width:10rem;
        height:10rem;
        border:3px solid rgba(255,2552,255,.5);
    }
    .short-info { width:70%; }
    
    .person-details .voting {
        float:none;
        width:100%;
        margin-bottom:2rem;
    }
    .share-options-big {
        top:0;
        float:none;
        width:100%;
    }
    
    .text-page > div { padding:2rem; }
    
}


@media only screen and (max-width:420px) {
    
    .person-pic > a {
        width:9rem;
        height:9rem;
    }
    .short-info { width:65%; }
    
    .footer-logo li {
        width:40%;
        padding:0 2rem;
    }
    
}

@media only screen and (max-width:380px) {
    
    .logo {
        width:10rem;
        height:5.6rem; 
    }
    .main-nav { top:.3rem; }
    .main-nav li { font-size:1.6rem; }
    .person-pic > a {
        width:8rem;
        height:8rem;
        border:3px solid rgba(255,2552,255,.5);
    }
    .short-info { width:70%; }

    
}


@media only screen and (max-width:380px) {
    
    .main-nav li { font-size:1.4rem; }
    
}


























